<ion-header [translucent]="true" collapse="fade" class="ion-no-border header-border">
	<ion-toolbar>
	  <ion-buttons mode="ios" slot="start" (click)="goBack()">
		<ion-back-button  defaultHref="" icon="chevron-back-outline" text=""></ion-back-button>
	  </ion-buttons>

	</ion-toolbar>
</ion-header>
<ion-content><br><br>
	
	<div class="content-img">
		<!--img src="../../assets/service24/logo-rojo.svg"-->
		<h2>{{ 'REGISTER.registry' | translate }}</h2>
	</div>
	<div style="margin-top: 20px;">
		<!--p class="llega">Llega a una gran audiencia administrando de una manera sencilla</p-->
	</div>
	<form [formGroup]="registerUserForm" class="padding-space" style="padding: 20px 0px 20px 0px;">
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.nombre}">
			<ion-input type="text" formControlName="nombre" class="ion-text-capitalize nuevo-input" placeholder="{{ 'REGISTER.name' | translate }}"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" >
			<ion-select style="width: 93px;min-height: 44px;" formControlName="code" mode="md" cancelText="Cancelar" class="select-input nuevo-input">
			  	<ion-select-option  *ngFor="let item of codes" [value]="item.value">{{item.codigo}}</ion-select-option>
			</ion-select>
			<ion-input type="tel" class="nuevo-input" formControlName="telefono" placeholder="{{ 'REGISTER.phone' | translate }}"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.email}">
			<ion-input class="nuevo-input" type="email" formControlName="email" placeholder="{{ 'REGISTER.email' | translate }}" (keydown.space)="$event.preventDefault();"></ion-input>
		</ion-item>
		
		<ion-item lines="none" class="item-input " [ngClass]="{'danger': formErrors.password}">
			<ion-input class="nuevo-input-password" [type]="password_type1" formControlName="password" placeholder="{{ 'REGISTER.password' | translate }}"></ion-input>
			<ion-icon slot="end" name="eye-off" class="icon-eye nuevo-input-password2" *ngIf="password_type1 == 'password'" (click)="togglePasswordMode1()"></ion-icon>
			<ion-icon slot="end" name="eye" class="icon-eye nuevo-input-password2" *ngIf="password_type1 == 'text'" (click)="togglePasswordMode1()"></ion-icon>
		</ion-item>
		
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.rpassword}">
			<ion-input class="nuevo-input-password" [type]="password_type2" formControlName="rpassword" placeholder="{{ 'REGISTER.rpassword' | translate }}"></ion-input>
			<ion-icon slot="end" name="eye-off" class="icon-eye nuevo-input-password2" *ngIf="password_type2 == 'password'" (click)="togglePasswordMode2()"></ion-icon>
			<ion-icon slot="end" name="eye" class="icon-eye nuevo-input-password2" *ngIf="password_type2 == 'text'" (click)="togglePasswordMode2()"></ion-icon>
		</ion-item>
		<!--ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="verifyNumber()">
		Registrarse</ion-button-->
		
		<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
			<button expand="block" class="ion-text-capitalize nuevo-boton" (click)="verifyNumber()">{{ 'REGISTER.register' | translate }}</button>
			<ion-button expand="block" class="ion-text-capitalize btn-google" (click)="loginViaGoogle()"><ion-icon class="icon-google" name="arrow-dropup" ></ion-icon> {{ 'REGISTER.google' | translate }} </ion-button>
		</div>
		<!--p class="ion-text-center link-login" (click)="login()">Registrarse</p-->
		<div style="display: flex; justify-content: center;margin: 5px;align-items: center;">
			<p class="notienes">{{ 'REGISTER.yaregistrado' | translate }}</p>
			<p class="ion-text-center registrate" (click)="login()">{{ 'REGISTER.iniciasesion' | translate }}</p>
		</div>
		<div style="display: flex; justify-content: center; flex-direction: column; text-align: center;" (click)="terms()">
			<p class="acepta">{{ 'REGISTER.alregistrarse' | translate }}</p>
			<p class="acepta2" >{{ 'REGISTER.terminos' | translate }}</p>
		</div>
	</form>
</ion-content>
