<ion-content *ngIf="showSwiper">
	<ion-content >
		<swiper-container
		  #swiper
		  (afterinit)="swiperReady()"
		  (slidechange)="swiperSlideChanged($event)"
		  [loop]="true"
		  [pagination]="true"
		>
		  <swiper-slide class="slide-1"><p class="text-omit" (click)="btn_ommit()" >{{ 'TUTORIAL.omit' | translate }}</p>
	    	<div class="content-text ion-text-center" padding>
	    		<img src="assets/icon/Pantalla1.svg" class="img1">
	    	
	    		<h2 class="title1">{{ 'TUTORIAL.title1' | translate }}</h2>
		    	<p class="info-page1">{{ 'TUTORIAL.info1' | translate }}</p>
	    	</div> 
	    	<!--img src="assets/icon/tutobtn-right.svg" class="btn-rgt1" (click)="goNext()"--> 	</swiper-slide>
		  <swiper-slide class="slide-2"><p class="text-omit2" (click)="btn_ommit()">{{ 'TUTORIAL.omit' | translate }}</p>
	    	<div class="content-text ion-text-center" padding>
	    		<img src="assets/icon/Pantalla2.svg" class="img1">
	    		<h2 class="title2">{{ 'TUTORIAL.title2' | translate }}</h2>
		    	<p class="info-page2">{{ 'TUTORIAL.info2' | translate }}</p>
	    	</div> 
	    	<!--img src="assets/icon/white-left-arrow.svg" class="btn-lft1" (click)="goPrev()"> 
	    	<img src="assets/icon/white-right-arrow.svg" class="btn-rgt1" (click)="goNext()"--> 	</swiper-slide>
		  <swiper-slide class="slide-3"><p class="text-omit" (click)="btn_ommit()">{{ 'TUTORIAL.omit' | translate }}</p>
	    	<div class="content-text ion-text-center" padding>
	    		<img src="assets/icon/Pantalla3.svg" class="img1">
	    	
	    		<h2 class="title1">{{ 'TUTORIAL.title3' | translate }}</h2>
		    	<p class="info-page1">{{ 'TUTORIAL.info3' | translate }}</p>
	    	</div> 
	    		</swiper-slide>
		  <swiper-slide class="slide-2"><p class="text-omit2" (click)="btn_ommit()">{{ 'TUTORIAL.omit' | translate }}</p>
	    	<div class="content-text ion-text-center" padding>
	    		<img src="assets/icon/Pantalla4.svg" class="img1">
	    		<h2 class="title2">{{ 'TUTORIAL.title4' | translate }}</h2>
		    	<p class="info-page2">{{ 'TUTORIAL.info4' | translate }}</p>
	    	</div> 
	    	<!--img src="assets/icon/white-left-arrow.svg" class="btn-lft1" (click)="goPrev()"> 
	    	<img src="assets/icon/white-right-arrow.svg" class="btn-rgt1" (click)="goNext()"--> 	</swiper-slide>
		  <swiper-slide class="slide-5"><p class="text-omit" (click)="btn_ommit()">{{ 'TUTORIAL.omit' | translate }}</p>
	    	<div class="content-text ion-text-center" padding>
	    		<img src="assets/icon/Pantalla5.svg" class="img1">
	    	
	    		<h2 class="title1">{{ 'TUTORIAL.title5' | translate }}</h2>
		    	<p class="info-page1">{{ 'TUTORIAL.info5' | translate }}</p>
	    	</div> 
	    	<!--img src="assets/icon/orange-left-arrow.svg" class="btn-lft1" (click)="goPrev()"> 
	    	<img src="assets/icon/tutobtn-right.svg" class="btn-rgt1" (click)="btn_ommit()"--> 	</swiper-slide>
		</swiper-container>
	  </ion-content>

	
</ion-content>
