
.no-border ion-item {
    --border-style: none;
  }
  ion-item {
    --border-style: none;
  }
ion-icon {
	font-size: 20px;
  }
span{
	color:#4D4D4D;
	font-family: Inter-SemiBold;
}
p{
	font-family: Inter-Medium;
}
.nuevo-header{
	color:black;
	font-family: Inter-Medium;
  }
.text-date{
	text-align: right;
    font-size: 12px;
    font-family: 'Inter-Bold';
    color: #7E8389;
}
.text-msg{
	font-family: 'Inter-Medium';
    font-size: 15px;
    ion-icon{
		font-size: 16px;
	    margin-right: 5px;
	    color: #727272;
	}
}
ion-list{
	padding-top: 0px;
}
.text-empty{
	color: #4D4D4D;
    text-align: center;
    margin-top: 75px;
    font-size: 14px;
    font-family: "Inter-SemiBold";
}