<ion-content><br><br>
	<ion-buttons class="icon-back" (click)="goBack()" style="margin-top: 20px; margin-left: 9px;  ">
      <ion-button>
        <ion-icon slot="icon-only"  name="arrow-back" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>
	<div class="content-img">
		<img src="../../assets/service24/logo-rojo.svg">
		<h2 style="color:black !important">{{ 'RECUPERAR.recuperar' | translate }}</h2>
	</div>
	<br><br>
	<form [formGroup]="registerUserForm" class="padding-space" style="margin: 0 1.5rem 0 1.5rem;">
		<ion-item lines="none" class="item-input nuevo-input" [ngClass]="{'danger': formErrors.email}">
			<ion-input type="email" formControlName="email" placeholder="{{ 'RECUPERAR.email' | translate }}" (keydown.space)="$event.preventDefault();"></ion-input>
		</ion-item>
		<ion-button expand="block" color="primary" class="ion-text-capitalize btn-init btn-register" (click)="sendPassword()">
			{{ 'RECUPERAR.generar' | translate }}</ion-button>
		<br>
		<ion-button expand="block" color="primary" class="ion-text-capitalize btn-init btn-register" (click)="codepage()">
			{{ 'RECUPERAR.verificar' | translate }}</ion-button>
	</form>
</ion-content>