*{
	color:black;
	  font-family: Inter-Medium;
  }
  span{
	  color:black;
	  font-family: Inter-SemiBold;
  }
  p{
	  font-family: Inter-Medium;
  }
ion-content{
	--background: var(--ion-color-secondary);
}
.nuevo-header{
    color:black;
    font-family: Inter-Medium;
}
.nuevo-input{
	border: 1px solid #DAE2E7 !important;
	padding: 0px 10px 0px 10px !important;
	height: 44px;
	border-radius: 5px;
  }
.content-img{
	text-align: left;
	img{
		height: 15px;
    display: block;
    margin: 0px 0px 0px 20px;
	}
	h2{
		margin: 60px 0px 0px 20px;
    font-family: "Gilroy-ExtraBold";
    font-size: 34px;
    color: black;
	}
}
.item-input{
	--border-radius: 3px;
	color: #4D4D4D;
	margin-bottom: 15px;
}
.danger{
	border: 2px solid #B71C1C;
	border-radius: 3px;
}
.sc-ion-input-md-h, .sc-ion-input-ios-h{
	font-family: "Muli-Regular";
    font-size: 15px;
}
.btn-register{
	--box-shadow: 0 3px 1px -2px rgba(255,255,255,0.2),0 2px 2px 0 rgba(255,255,2555,0.14),0 1px 5px 0 rgba(255,255,255,0.12) !important;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.20);
    border-style: solid;
    border-radius: 3px;
}
.link-login{
	margin-top: 40px;
	font-family: 'Montserrat-Bold';
}
.icon-eye{
	color: var(--ion-color-secondary);
	z-index: 999;
	font-size: 22px;
}
.icon-back{

  color: #000 !important;
}
