<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camara</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <button (click)="takePicture()">camaras</button><br>

  <img [src]="imagen" alt="" width="300" height="300">s
  <br><br>
  <br><br>
  <button (click)="onConvert()">onConvert</button><br>
  <br><br>
  <button (click)="upload()">Carga</button><br>
  <br><br>
  <br><br>
  <button (click)="initMap()">Create Map javasc</button>
  <div id="map"></div>
  <br><br><br>
  <input id="pac-input" type="text" placeholder="Enter a location" (blur)="ver(0)" />
  <br>
  <br>
  <button (click)="createMap()">Create Map</button>
  <br>
  <button (click)="geolocate()">Geolocate</button>
</ion-content>
