<ion-header>
  <ion-toolbar color="secondary" mode="md">
  	<ion-buttons slot="start" class="icon-back" default-href="tabs">
	   <ion-back-button text="" icon="chevron-back-sharp" mode="md">
        </ion-back-button>
	  </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center" *ngIf="languages == 'es'">
      {{data.nombre}}
    </ion-title>
    <ion-title class="ion-text-capitalize ion-text-center" *ngIf="languages == 'en'">
      {{data.ingles}}
    </ion-title>
    <ion-buttons slot="end" (click)="viewNotification()">
      <ion-button>
        <div class="icon-bagde" *ngIf="show_notify"></div>
        <ion-icon name="notifications" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="content-search" mode="md">
    <ion-searchbar 
    placeholder="{{ 'HOME.search' | translate }}" 
    color="light" 
    mode="ios"
    (ionFocus)="setSearch()"
    id="input"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="icons" class="btn-search" (click)="goFilter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--div class="category-content">
    <img [src]="data.imagen" class="img-category">
    <div class="content-title">
      <div class="title-1">
        <p>{{data.nombre}}</p>
      </div>
      <div class="triangle"></div>
      <div class="title-2"></div>  
    </div>
  </div-->
  <div>
  	<ion-grid class="grid-item">
	  <ion-row>
	    <ion-col size="6" *ngFor="let cat of category" (click)="setProduct(cat)" class="col-item">
        <div class="content-img" #square [ngStyle]="{'height.px': square.offsetWidth - (square.offsetWidth*0.15)}">
          <div [ngStyle]="{'background': 'linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' + cat.imagen + ') center center / cover no-repeat'}"  class="overlay"></div>
          <p class="name-item" *ngIf="languages == 'es'">{{cat.nombre}}</p>
          <p class="name-item" *ngIf="languages == 'en'">{{cat.ingles}}</p>
        </div>
	      
	    </ion-col>
	  </ion-row>
	</ion-grid>
  </div>	
</ion-content>