.content-profile{
	text-align: center;
	padding-top: 25px;
	.content-img{
		position: relative;
		img{
			height: 100px;
	    	width: 100px;
	    	border-radius: 50%;
	    	object-fit: cover;
	    }
	    ion-icon{
	    	color: #fff;
		    background-color: #007AFF;
		    border-radius: 50%;
		    padding: 3px;
		    font-size: 20px;
		    position: absolute;
		    z-index: 99999;
		    bottom: 10px;
		    margin-left: -25px;
	    }
	}
	
}
.content-info{
	position: relative;
	p {
		color: #000000;
		font-family: ('Montserrat-Bold');
		margin: 8px 0px 10px 0px;
    	font-size: 14px; 
	}
}
.content-div{
	padding: 20px;
}
.input-info{
	color: #4D4D4D;
    background-color: #F2F2F2;
    border-radius: 4px;
    height: 45px;
    font-family: "Muli-Regular";
    text-overflow: ellipsis;
    font-size: 15px;
}
.item-info{
	--background: #F2F2F2;
    --border-radius: 4px;
    margin-bottom: 20px;
}
.btn-init2{
	--background: #fd682a;
	background-color: #fd682a;
	color: #fff;
	width: 90%;
    margin: auto;
	box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.10), 0px 4px 6px -1px rgba(16, 24, 40, 0.10);
}
.btn-init{
	--background: #F2F2F2;
	color: black;
	width: 90%;
    margin: auto;
	box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.10), 0px 4px 6px -1px rgba(16, 24, 40, 0.10);
}