<ion-content>
	<ion-buttons class="icon-back" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only"  md="chevron-back-sharp" ios="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
	<div class="content-img">
		<img src="assets/logo_blanco.svg">
	</div>
	<form [formGroup]="orderForm" class="content-div">
		<ion-item lines="none" class="item-info">
		  <ion-textarea placeholder="{{ 'FORM.w1' | translate }}" formControlName="referencia" class="area-info" rows="4" cols="20"></ion-textarea>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.tiempo}">
		  <ion-label slot="start" class="label-select" [hidden]="orderForm.value.tiempo != ''">{{ 'FORM.w2' | translate }}</ion-label>
		  <ion-datetime display-format="DD/MM/YYYY" mode="ios" picker-format="DD MM YYYY" formControlName="tiempo" min="{{myDate}}" class="area-info" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
		  <ion-icon slot="end" name="arrow-dropup" class="custom-calendar"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.tiempo}">
		  <ion-label slot="start" class="label-select" [hidden]="orderForm.value.horaAux != ''">{{ 'FORM.w3' | translate }}</ion-label>
		  <ion-datetime display-format="hh:mm A" mode="ios" picker-format="hh mm A" formControlName="horaAux" class="area-info" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
		  <ion-icon slot="end" name="time" class="icon-timer"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.direccion}">
			<ion-input id="places" class="input-info" formControlName="direccion" (ionInput)="updateSearchResults()" placeholder="{{ 'FORM.w4' | translate }}"></ion-input>
			<ion-icon slot="end" name="arrow-dropup" class="custom-map"></ion-icon>
		</ion-item>
		<div class="content-map">
			<ion-icon name="locate" class="icon-location" (click)="tryGeolocation()"></ion-icon>
			<div #map id="map"></div>
		</div>
		<ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="sendOrder()">
		{{ 'FORM.send' | translate }}</ion-button>
		<p class="ion-text-center link-login" (click)="navInit()">{{ 'FORM.w5' | translate }}</p>	
	</form>
</ion-content>