<ion-header>
  <ion-toolbar color="secondary" mode="md">
  	<ion-buttons slot="start" class="icon-back" default-href="tabs">
	   <ion-back-button text="" icon="chevron-back-sharp" mode="md">
        </ion-back-button>
	</ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">
      {{ 'CATEGORY.title' | translate }}
    </ion-title>
    <ion-buttons slot="end" (click)="viewNotification()">
      <ion-button>
        <div class="icon-bagde" *ngIf="show_notify"></div>
        <ion-icon name="notifications" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="content-search" mode="md">
    <ion-searchbar 
    placeholder="{{ 'HOME.search' | translate }}" 
    color="light" 
    
    mode="ios"
    (ionFocus)="setSearch()"
    id="input"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="icons" class="btn-search" (click)="goFilter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="category-content">
    <img [src]="catInfo.imagen" class="img-category">
    <div class="content-title">
      <div class="title-1">
        <p *ngIf="languages == 'es'">{{catInfo.nombre}}</p>
        <p *ngIf="languages == 'en'">{{catInfo.ingles}}</p>
      </div>
      <div class="triangle"></div>
      <div class="title-2"></div>  
    </div>
  </div>
  <div>
    <h3 class="title-subcategory" *ngIf="languages == 'es'">{{data.nombre}}</h3>
    <h3 class="title-subcategory" *ngIf="languages == 'en'">{{data.ingles}}</h3>
  </div>  
  <ion-list>
    <ion-item class="item-history" *ngFor="let item of category" lines="full" (click)="setProduct(item)">
      <ion-label>
        <p class="title-product" *ngIf="languages == 'es'">{{ item.nombre }}</p>
        <p class="title-product" *ngIf="languages == 'en'">{{ item.ingles }}</p>
      </ion-label>
    </ion-item>
  </ion-list>	
</ion-content>