.category-content{
    position: relative;
    display: block;
    height: 30%;
    min-height: 157px;
}
.category-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content-title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    p{
        margin: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
        font-family: ('Montserrat-Bold');
        text-transform: capitalize;
    }
}
.icon-notify{
    margin-right: 12px;
    ion-button{
        font-size: 13px;
    }
}
.sc-ion-buttons-md-s .button-clear, .sc-ion-buttons-ios-h .button-clear{
    background-color: var(--ion-color-secondary);
    height: 40px;
    border-radius: 2px;
}
.img-category{
    width: 100%;
    height: 35%;
    object-fit: cover;
}
.title-subcategory{
    padding: 10px 10px 10px 22px;
    margin: 0px;
    background-color: #007AFF;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    text-transform: capitalize;
}
.title-product{
    color: #007AFF;
    font-family: ('Roboto');
    text-transform: capitalize;
    padding-left: 7px;
}
.item-native{
    padding-left: 0px;
}