<ion-header>
  <ion-toolbar color="secondary" mode="md">
  	<ion-buttons slot="start" class="icon-back" default-href="tabs">
	   <ion-back-button text="" icon="chevron-back-sharp" mode="md">
        </ion-back-button>
	</ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">
        {{ 'ORDER.title' | translate }}
    </ion-title>
    <ion-buttons slot="end" (click)="viewNotification()">
      <ion-button>
      	<div class="icon-bagde" *ngIf="show_notify"></div>
        <ion-icon name="notifications" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="orderForm" class="content-div">
		<ion-item lines="none" class="item-info">
			<ion-input value="Readonly" readonly value="{{ 'ORDER.for' | translate }} {{data.establecimiento.usuario.nombre}}" class="input-info"></ion-input>
			<!--ion-icon slot="end" name="arrow-dropup" class="custom-contact1"></ion-icon-->
			
		</ion-item>

		<ion-item lines="none" class="item-info">
			<ion-input value="Readonly" readonly value="{{ 'ORDER.service' | translate }} {{category.nombre}}" class="input-info"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-info">
		  <ion-textarea placeholder="{{ 'ORDER.observations' | translate }}" formControlName="referencia" class="area-info" rows="4" cols="20"></ion-textarea>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.tiempo}">
		  <ion-datetime-button presentation="date" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" datetime="tiempo" mode="ios" class="area-info"></ion-datetime-button>
			<ion-icon slot="end" name="arrow-dropup" class="custom-calendar"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.tiempo}">
			<ion-datetime-button presentation="time" displayFormat="hh:mm A" pickerFormat="hh mm A" datetime="horaAux" mode="ios" class="area-info"></ion-datetime-button>
		  <ion-icon slot="end" name="time" class="icon-timer"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-info" [ngClass]="{'danger': formErrors.direccion}">
			<input id="pac-input" class="input-info" style="width: 100%; border: 0px;" formControlName="direccion" type="text" placeholder="Enter a location" (blur)="ver(0)" />
			<!--ion-input  class="input-info" formControlName="direccion"  (blur)="ver(0)"></ion-input-->
			
			<ion-icon slot="end" name="arrow-dropup" class="custom-map" (click)="geolocate()"></ion-icon>
		</ion-item>
		<div class="content-map">
			<div class="content-infoMap" [hidden]="showInfoMap">
				<p class="info-map" >{{ 'ORDER.info' | translate }}</p>
				<p class="ok-map" (click)="geolocate()"><ion-icon name="navigate-circle-outline"></ion-icon></p>
			</div>
			<ion-icon md="md-locate" ios="md-locate" class="icon-location" ></ion-icon>
			<!--div #map id="map"></div-->
			<div>
				<div id="map"></div>
			</div>
		</div>
		<ion-button expand="block" class="ion-text-capitalize btn-init" (click)="sendOrder()">{{ 'ORDER.submit' | translate }}</ion-button>	
		
		<ion-modal [keepContentsMounted]="true">
			<ng-template>
				<ion-datetime presentation="date" id="tiempo" displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY" formControlName="tiempo"></ion-datetime>
			</ng-template>
		</ion-modal>

		<ion-modal [keepContentsMounted]="true">
			<ng-template>
				<ion-datetime presentation="time" id="horaAux" displayFormat="hh:mm A" pickerFormat="hh mm A" formControlName="horaAux"></ion-datetime>
			</ng-template>
		</ion-modal>
	
	</form>
</ion-content>


