capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 400px;
}

.content-div{
	padding: 20px;
}
.input-info{
	color: #4D4D4D;
    background-color: #F2F2F2;
    border-radius: 4px;
    height: 45px;
    font-family: "Muli-Regular";
    text-overflow: ellipsis;
    font-size: 15px;
}
.area-info{
	color: #4D4D4D;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-family: "Muli-Regular";
    --padding-start: 0px;
    font-size: 15px;
}
.datetime-text{
	color: #4D4D4D;
	font-size: 15px;	
}
.item-info{
	--background: #F2F2F2;
    --border-radius: 4px;
    margin-bottom: 20px;
}
#map{
	height: 250px;
	width: 100%;
	opacity: 1;
	transition: opacity 150ms ease-in;
	display: block;
	position: relative !important;
}
.btn-init{
	--background: #007AFF;
	width: 100%;
  margin: 25px auto;
  font-family: "Montserrat-Bold";
}
.sc-ion-back-button-md{
	margin-right: 0px;
    width: 44px;
}
.sc-ion-back-button-md{
	padding: 0px;
    margin: 0px;
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-contact1"] {
  	font-size: 20px !important;
  	color: var(--ion-color-secondary) !important;
    mask-image: url('/assets/icon/icono-contactos.svg');
  }
  &[class*="custom-calendar"] {
  	font-size: 20px !important;
  	color: var(--ion-color-secondary) !important;
    mask-image: url('/assets/icon/icono-calendario.svg');
  }
  &[class*="custom-map"] {
  	font-size: 20px !important;
  	color: var(--ion-color-secondary) !important;
    mask-image: url('/assets/icon/icono-locacion.svg');
  }
}
.pac-container {
  z-index: 10000;
  pointer-events: auto;
  box-shadow: none;
}
.danger{
  border: 2px solid #B71C1C;
  border-radius: 3px;
}
.icon-refresh{
  font-size: 35px;
  color: #7e7e7e;
  margin: auto;
  display: block;
  padding: 60px;
}
.content-icon{
  background-color: #F2F2F2;
}
.icon-timer{
  font-size: 20px;
  color: #d8692e;
}
.content-map{
  position: relative;
}
.icon-location{
  color: #fff;
  background-color: #007AFF;
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
  position: absolute;
  z-index: 99999;
  right: 12px;
  top: 15px;
}
.content-infoMap{
  position: absolute;
  z-index: 9999999;
  background-color: rgba(216, 105, 22, 0.92);
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 0px 10px;
  border-radius: 0px 0px 50px 0px;
  .info-map{
    padding: 0px 10px;
  }
  .ok-map{
    font-weight: bold;
    font-size: 14px;
    margin-right: 15px;
  }
}