<ion-content padding>
	<ion-button class="btn-close" (click)="closeModal()">
		<ion-icon slot="icon-only" name="close"></ion-icon>
	</ion-button>
	<h2 class="title-modal">¿Se completó la solicitud #{{Calification.pedido_id}} de manera satisfactoria?</h2>
	<p class="info-modal">Por favor, deje una calificación para que sepamos cómo te sientes!</p>
	<div class="rating-calification" style="text-align: center;">
		<!--rating [(ngModel)]="Calification.puntaje"
		        size="small"
		        (ngModelChange)="onModelChange($event)">
		</rating-->
		<ion-rating-stars
  			public Calification = {
			[rating]="Calification.puntaje"
			[color]="'darkgrey'"
			[filledColor]="'orange'"
			[margin]="2"
			[size]="20"
			[disabled]="false"
			[opacity]="0.5"
			(ratingChange)="ratingChanged($event)">
		</ion-rating-stars>
	</div>
	<ion-item lines="none" class="item-info">
	  <ion-textarea placeholder="Agrega un comentario..." [(ngModel)]="Calification.comentario" class="area-info" rows="3" cols="20"></ion-textarea>
	</ion-item>
	<ion-button expand="block" class="ion-text-capitalize btn-init" (click)="sendCalification()">Enviar</ion-button>
</ion-content>

