
<ion-header [translucent]="true" collapse="fade" class="ion-no-border header-border">
	<ion-toolbar>
	  <ion-buttons mode="ios" slot="start" (click)="goBack()">
		<ion-back-button  defaultHref="" icon="chevron-back-outline" text=""></ion-back-button>
	  </ion-buttons>

	</ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
	
	<div class="content-img">
		<!--img src="../../assets/service24/logo-rojo.svg"-->
		<h2>{{ 'LOGIN.start' | translate }}</h2>
	</div> 
	<form [formGroup]="loginUserForm" class="padding-space" style="padding: 20px 0px 20px 0px;">
		<ion-item lines="none" class="item-input">
			<ion-input class="nuevo-input" mode="ios" type="email" formControlName="email" placeholder="Correo electrónico"></ion-input>
			
		</ion-item>
		<ion-item lines="none" class="item-input">
			<ion-input class="nuevo-input-password" [type]="password_type1" mode="ios" type="password" formControlName="password" ></ion-input>
			<ion-icon slot="end" name="eye-off-outline" class="icon-eye nuevo-input-password2" *ngIf="password_type1 == 'password'" (click)="togglePasswordMode1()"></ion-icon>
			<ion-icon slot="end" name="eye-outline" class="icon-eye nuevo-input-password2" *ngIf="password_type1 == 'text'" (click)="togglePasswordMode1()"></ion-icon>
		</ion-item>
		<div class="nuevo-debajo-input">
			<div class="nuevo-recordar">
				<ion-checkbox mode="md" name="recordarme" (click)="recordar()" formControlName="recordarme" style="height: 22px;"></ion-checkbox>
				<p class="nuevo-recordar" style="padding-left: 5px;" >Recordarme</p>
			</div>
			<div class="nuevo-olvido">
				<p class="notienes" style="margin-top: 10px;" (click)="resetPassword()">{{ 'LOGIN.forgot' | translate }}</p>
			</div>
		</div>
		<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
			<button expand="block" class="ion-text-capitalize nuevo-boton" (click)="login()">{{ 'LOGIN.login' | translate }}</button>
			<ion-button expand="block" class="ion-text-capitalize btn-google" (click)="loginViaGoogle()"><ion-icon class="icon-google" name="arrow-dropup" ></ion-icon> {{ 'LOGIN.google' | translate }}</ion-button>
		</div>
		<!--p (click)="resetPassword()">{{ 'LOGIN.forgot' | translate }}</p>
		<ion-button mode="ios" expand="block" color="primary" class="ion-text-capitalize btn-init" (click)="login()">{{ 'LOGIN.login' | translate }}</ion-button>
		<div class="or-spacer">
			<div class="mask"></div>
			<span>{{ 'LOGIN.o' | translate }}</span>
			<div class="mask"></div>
		</div-->
		<!--ion-button expand="block" class="ion-text-capitalize btn-init btn-facebook" (click)="loginFacebook()">
		<ion-icon class="custom-facebook" name="arrow-dropup" slot="start"></ion-icon>
		{{ 'LOGIN.facebook' | translate }}</ion-button>
		<ion-button expand="block" class="ion-text-capitalize btn-init btn-google" (click)="doGoogleLogin()"><ion-icon class="icon-google" name="arrow-dropup" slot="start"></ion-icon> {{ 'LOGIN.google' | translate }}</ion-button>
		<p class="ion-text-center" (click)="register()">{{ 'LOGIN.signin' | translate }}</p-->
      <!--p class="ion-text-center" (click)="register()">{{ 'LOGIN.signin' | translate }}</p-->
	  <div style="display: flex; justify-content: center; margin-top: 11px;">
		<p class="notienescuenta">¿No tienes cuenta?</p>
		<p class="ion-text-center registrate" (click)="register()">{{ 'LOGIN.signin' | translate }}</p>
	</div>
	</form>
</ion-content>
