ion-content{
	/*--background: url("/assets/Background_03.png") no-repeat center center / cover;
  background: url("/assets/Background_03.png") no-repeat center center / cover;*/
}
.content-img{
	text-align: left;
	img{
		height: 15px;
    display: block;
    margin: 0px 0px 0px 20px;
    margin-top: 70px;
	}
	h2{
		margin: 60px 0px 0px 20px;
    font-family: "Gilroy-ExtraBold";
    font-size: 34px;
    color: black;
	}
}
.nuevo-input{
  border: 1px solid #DAE2E7 !important;
  padding: 0px 10px 0px 10px !important;
  height: 44px;
  border-radius: 5px;
}
.nuevo-debajo-input{
  margin-top: -13px;
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 18px;
}
.nuevo-recordar{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Inter-Medium;
    font-size: 13px;
    padding-left: 20px;
    margin: 0;
}
.nuevo-olvido{
  color: black;
  font-family: Inter-Medium;
  font-size: 14px;
  padding-right: 20px;
}
.nuevo-boton{
  border-radius: 6px;
  background: var(--primary-400, #FD682A) !important;
  margin: 0px 20px 0px 20px;
  color: white;
  height: 48px;
  width: 90%;
  font-family: Inter-Medium;
  font-size: 15px;
}
.notienes{
  font-family: Inter-Medium;
  font-size: 15px;
  color: var(--neutral-300, #7E8389);
  margin-right: 5px;
  line-height: 18px;
}
.registrate{
  font-family: Inter-Bold;
  font-size: 15px;
  color: black;
}
.icon-eye{
	color: var(--neutral-300, #7E8389);
	z-index: 999;
	font-size: 22px;
}
.nuevo-input-password{
  border-top: 1px solid #DAE2E7 !important;
  border-bottom: 1px solid #DAE2E7 !important;
  border-left: 1px solid #DAE2E7 !important;
  padding: 0px 0px 0px 10px !important;
  height: 44px;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;  
}
.nuevo-input-password2{
  border-top: 1px solid #DAE2E7 !important;
  border-bottom: 1px solid #DAE2E7 !important;
  border-right: 1px solid #DAE2E7 !important;
  padding: 0px 10px 0px 10px !important;
  height: 42px !important;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;  
  margin: 0px;
}
.item-input{
	--border-radius: 3px;
	color: #4D4D4D;
	margin-bottom: 9px;
}
h2{
  color:rgb(0, 0, 0) ;
}
p{
  color:rgb(0, 0, 0) ;
}
.content-img{
	text-align: left;
	img{
		height: 15px;
    display: block;
    margin: 0px 0px 0px 20px;
    margin-top: 70px;
	}
	h2{
		margin: 60px 0px 0px 20px;
    font-family: "Gilroy-ExtraBold";
    font-size: 34px;
    color: black;
	}
}
.item-input{
	--border-radius: 3px;
	color: #4D4D4D;
	margin-bottom: 20px;
}
.sc-ion-input-md-h, .sc-ion-input-ios-h{
	font-family: "Muli-Regular";
    font-size: 15px;
}
.or-spacer {
	margin: 15px 0px;
    width: 100%;
    position: relative;
    display: flex;
  
  .mask { 
    overflow:hidden; 
    height:20px;
    flex: 1; 
    &:after { 
        content: '';
	    display: block;
	    margin: -14px auto 0;
	    width: 100%;
	    height: 25px;
	    border-bottom: 1px solid #ffffff;
    }
  }
  span{
  	font-family: 'Montserrat-Bold';
  	margin: 0px 13px;
  }
}
.btn-facebook{
	--background: #4469b0;
	margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.btn-google{
	--background: #fff;
  color: #4469b0;
  display: flex;
  align-items: center;
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-facebook"] {
  	font-size: 20px !important;
    position: absolute;
    left: 14px;
    mask-image: url('/assets/icon/facebook.svg');
    top: 13px;
  }
}
.icon-google {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background: transparent;
  width: 1em;
  height: 1em;
  font-size: 20px !important;
  position: absolute;
  left: 14px;
  background-image: url('/assets/icon/google.svg');
  color: transparent;
  top: 13px;
}
p{
  font-family: 'Montserrat-Bold';
}
.icon-back{
  position: absolute;
  top: 40px;
  left: 10px;
}
.sc-ion-buttons-md-s .button-clear, .sc-ion-buttons-ios-s .button-clear{
  --color: #ffffff;
}