
  <ion-modal #modal trigger="open-modal"  style="    border-radius: 36px;">
    <ng-template>
      <ion-content>
        <img src="../../assets/service24/icon_x.svg" alt="" style="position: absolute; top: 20px; right: 20px; cursor: pointer;" (click)="modal.dismiss()" >
        <div style="text-align: center; margin-top: 60px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
          
          <img src="../../assets/service24/icon_prohibido.svg" alt="">
          <p style="line-height:25px;margin: 5px 20px; font-size: 22px; font-family: Gilroy-SemiBold;">{{ 'LOGIN.necesitas' | translate }}</p>
          <p style="margin: 10px 20px; font-size: 16px; color:#7E8389">{{ 'LOGIN.presiona' | translate }}</p>
          <button (click)="tipousuario();modal.dismiss()" style="margin-top: 10px; border-radius: 6px; height: 40px; color: white; background-color: black; width: 80%;">{{ 'LOGIN.login' | translate }}</button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
<!--ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs-->


<ion-tabs mode="ios" tabsHighlight="false" (ionTabsDidChange)="setTab($event)" >
  <div class="menu" *ngIf="!isCliente" [hidden]="!isLogin">
    <ion-tab-bar slot="bottom" class="nuevo_tab">
      <ion-tab-button tab="tab1">
        <ion-icon name="arrow-dropup" class="custom-inicio"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.inicio' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="arrow-dropup" class="custom-solicitud" style="width: 24px; height: 24px;" *ngIf="currentTab != 'tab2'"></ion-icon>
        <ion-icon name="arrow-dropup" class="custom-solicitud"  *ngIf="currentTab == 'tab2'"></ion-icon>
        <ion-label class="bullet-icon" style="bottom: -2px;" *ngIf="currentTab != 'tab2'">{{ 'TAB.servicios' | translate }}</ion-label>
        <ion-label class="bullet-icon" *ngIf="currentTab == 'tab2'">{{ 'TAB.servicios' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="arrow-dropup" class="custom-chat"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.mensaje' | translate }}</ion-label>
      </ion-tab-button>

      <!--ion-tab-button tab="tab5" >
        <ion-icon name="arrow-dropup" class="custom-ayuda"></ion-icon>
        <ion-label class="bullet-icon" *ngIf="currentTab == 'tab5'"></ion-label>
      </ion-tab-button-->

      <ion-tab-button tab="tab3">
        <ion-icon name="arrow-dropup" class="custom-perfil"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.perfil' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>

  <div class="menu" *ngIf="!isCliente" [hidden]="isLogin" id="open-modal" >
    <ion-tab-bar slot="bottom" class="nuevo_tab">
      <ion-tab-button >
        <ion-icon name="arrow-dropup" class="custom-inicio"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.inicio' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="arrow-dropup" class="custom-solicitud" style="width: 24px; height: 24px;" *ngIf="currentTab != 'tab2'"></ion-icon>
        <ion-icon name="arrow-dropup" class="custom-solicitud"  *ngIf="currentTab == 'tab2'"></ion-icon>
        <ion-label class="bullet-icon" style="bottom: -2px;" *ngIf="currentTab != 'tab2'">{{ 'TAB.servicios' | translate }}</ion-label>
        <ion-label class="bullet-icon" *ngIf="currentTab == 'tab2'">{{ 'TAB.servicios' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="arrow-dropup" class="custom-chat"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.mensaje' | translate }}</ion-label>
      </ion-tab-button>

      <!--ion-tab-button tab="tab5" >
        <ion-icon name="arrow-dropup" class="custom-ayuda"></ion-icon>
        <ion-label class="bullet-icon" *ngIf="currentTab == 'tab5'"></ion-label>
      </ion-tab-button-->

      <ion-tab-button >
        <ion-icon name="arrow-dropup" class="custom-perfil"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.perfil' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
  
  <div class="menu" *ngIf="isCliente">
    <ion-tab-bar slot="bottom" class="nuevo_tab">
      <ion-tab-button tab="tab6">
        <ion-icon name="arrow-dropup" class="custom-inicio"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.inicio' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab7">
        <ion-icon name="arrow-dropup" class="custom-solicitud" style="width: 24px; height: 24px;" *ngIf="currentTab != 'tab2'"></ion-icon>
        <ion-icon name="arrow-dropup" class="custom-solicitud" *ngIf="currentTab == 'tab2'"></ion-icon>
        <ion-label class="bullet-icon" style="bottom: -2px;" *ngIf="currentTab != 'tab2'">{{ 'TAB.servicios' | translate }}</ion-label>
        <ion-label class="bullet-icon" *ngIf="currentTab == 'tab2'">{{ 'TAB.servicios' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab9">
        <ion-icon name="arrow-dropup" class="custom-chat"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.mensaje' | translate }}</ion-label>
      </ion-tab-button>

      <!--ion-tab-button tab="tab10" >
        <ion-icon name="arrow-dropup" class="custom-ayuda"></ion-icon>
        <ion-label class="bullet-icon" *ngIf="currentTab == 'tab10'"></ion-label>
      </ion-tab-button-->

      <ion-tab-button tab="tab8">
        <ion-icon name="arrow-dropup" class="custom-perfil"></ion-icon>
        <ion-label class="bullet-icon" >{{ 'TAB.perfil' | translate }}</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </div>
</ion-tabs>