.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    width: 100%;
}
.nuevo_tab {
    border: 1.5px solid var(--neutral-200, #DAE2E7);
    border-radius: 50px;
    box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.10), 0px 4px 6px -1px rgba(16, 24, 40, 0.10);
    width: 90%;
    height: 60px;
    max-height: 60px !important;
    max-width: 90%;
    padding: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
.tab-selected {
    --background: #ffffff;
    backgroud: #ffffff;
  }
  ion-tab-button {
    --color: rgba(255,255,255,0.6);
  }
  ion-tab-bar{
      --border: none;
      height: 46px;
  }
  .bullet-icon{
      color: #fff;
      font-size: 25px;
      height: auto;
      margin: 0px;
      line-height: 4px;
  }
  ion-icon {
    

      &[class*="custom-"] {
          vertical-align: middle;
          $sz: 48px;
          width: $sz;
          height: $sz;
          color: transparent !important;
      }
      &[class*="inicio"] {
          background: url("/assets/icon/nuevo_icono_inicio_off.svg") no-repeat 50% 50%;
          background-size: contain;
      }
      .tab-selected &[class*="inicio"] {
          background: url("/assets/icon/nuevo_icono_inicio_on.svg") no-repeat 50% 50%;
          background-size: contain;
          /*position: relative;
          top: 5px;*/
      }
      &[class*="solicitud"] {
          background: url("/assets/icon/nuevo_icono_solicitud_off.svg") no-repeat 50% 50%;
          background-size: contain;
      }
      .tab-selected &[class*="solicitud"] {
          background: url("/assets/icon/nuevo_icono_solicitud_on.svg") no-repeat 50% 50%;
          background-size: contain;
          /*position: relative;
          top: 5px;*/
      }
      &[class*="chat"] {
          background: url("/assets/icon/nuevo_icono_chat_off.svg") no-repeat 50% 50%;
          background-size: contain;
      }
      .tab-selected &[class*="chat"] {
          background: url("/assets/icon/nuevo_icono_chat_on.svg") no-repeat 50% 50%;
          background-size: contain;
         /* position: relative;
          top: 5px;*/
      }
      &[class*="ayuda"] {
        background: url("/assets/icon/nuevo_icono_ayuda_off.svg") no-repeat 50% 50%;
        background-size: contain;
    }
    .tab-selected &[class*="ayuda"] {
        background: url("/assets/icon/nuevo_icono_ayuda_on.svg") no-repeat 50% 50%;
        background-size: contain;
        /*position: relative;
        top: 5px;*/
    }
    &[class*="perfil"] {
        background: url("/assets/icon/nuevo_icono_perfil_off.svg") no-repeat 50% 50%;
        background-size: contain;
    }
    .tab-selected &[class*="perfil"] {
        background: url("/assets/icon/nuevo_icono_perfil_on.svg") no-repeat 50% 50%;
        background-size: contain;
        /*position: relative;
        top: 5px;*/
    }
    &[class*="chat"] {
        background: url("/assets/icon/nuevo_icono_chat_off.svg") no-repeat 50% 50%;
        background-size: contain;
    }
    .tab-selected &[class*="chat"] {
        background: url("/assets/icon/nuevo_icono_chat_on.svg") no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="ayuda"] {
        background: url("/assets/icon/nuevo_icono_ayuda_off.svg") no-repeat 50% 50%;
        background-size: contain;
    }
    .tab-selected &[class*="ayuda"] {
        background: url("/assets/icon/nuevo_icono_ayuda_on.svg") no-repeat 50% 50%;
        background-size: contain;
    }
  }
  