p{
  font-family: Inter-Medium;
  color: #7E8389;
}
span{
  font-family: Inter-Medium;
  color: #7E8389;
}
.icon-notify{
    margin-right: 12px;
    ion-button{
        font-size: 13px;
    }
}
.sc-ion-back-button-md{
	margin-right: 0px;
    width: 44px;
}
.sc-ion-back-button-md{
	padding: 0px;
    margin: 0px;
}
.content-profile{
	text-align: center;
	padding: 25px 0px 10px 0px;
	background-size: cover;
    background-position: center;
	img{
		height: 100px;
    	width: 100px;
    	border-radius: 50%;
    	object-fit: cover;
    	border: 4px solid #fff;
    }
}

.content-info{
	.title {
		font-family: "Montserrat-Bold";
	    margin: 5px 0px 3px 0px;
	    font-size: 15px;
	    padding: 0px 16px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
}
.icon-star{
  color: #cccccc;
  font-size: 21px;
  margin: 0px 4px;
}
ion-icon.filled {     
  color: #ffeb3b;     
}
.icon-star1{
  position: absolute;
  right: 28px;
  font-size: 25px;
  color: #ccc;
  top: 25px;
}
.icon-star2{
  color: #cccccc;
  margin-right: 5px;
  font-size: 15px;
}
.product-item{
  font-family: "Montserrat-Medium";
  font-size: 14px !important;
}
.comment-item{
  color: #4D4D4D;
  font-family: 'Muli-Regular';
  font-size: 12px !important;
  white-space: normal;
}
.date-item{
  color: #4D4D4D;
  font-family: 'Muli-Regular';
  font-size: 10px !important;
  max-width: 50px;
}
.text-complete{
  color: #4D4D4D;
  padding: 20px 30px;
  text-align: center;
  font-family: "Muli-Regular";
  margin-bottom: 0px;
  span{
    color: #000;
    font-weight: bold;
  }
}
ion-segment-button {
  
  background: #fff;
  max-width: initial !important;
  color: #7e8389;
  ion-label {
    margin: 0;
    text-transform: initial;
    font-family: ('Inter-Light');
    letter-spacing: normal;
  }
}
.segment-button-checked{
    --ion-color-base: var(--ion-color-secondary) !important;
    color: var(--ion-color-primary) !important;
}
ion-segment{
  width: 89%;
	background: #f4f5f8;
}
.content-infoP{
	color: #4D4D4D;
	font-family: 'Muli-Regular';
	padding: 15px 16px;
	p{
		font-size: 15px;
		span {
			color: #4D4D4D;
      font-weight: bold;
      font-size: 16px;
		}
	}
	.address{
		font-family: "Montserrat-Medium";
	    margin: 10px 0px;
	    color: #4D4D4D;
	    font-size: 14px;
	    overflow: hidden;
	    white-space: normal;
	}
	.title-service{
    font-weight: bold;
		color: #4D4D4D;
		margin-bottom: 8px;
    font-size: 16px;
	}
	.info-service{
		p{
			margin: 0px;
		}
	}
}
.btn-init{
	--background: #FD682A;
	width: 100%;
  margin: 25px auto;
  color: white;
}
.btn-init2{
	--background: white;
	width: 100%;
  margin: 25px auto;
  color: #FD682A;
  border: 2px solid #FD682A;
  border-radius: 10px;
}
.content-imgP{
  height: 350px;
  padding: 25px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
ion-icon {
  &[class*="custom1-"] {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 14px;
    height: 13px;
    vertical-align: baseline;
    color: transparent !important;
  }
  &[class*="custom1-map"] {
  	background: url("/assets/icon/icono-locacion.svg") no-repeat 50% 50%;
    background-size: contain;
  }
}
.icon-star{
  color: #cccccc;
  font-size: 21px;
  margin: 0px 4px;
}
ion-icon.filled1 {     
  color: #f44336;     
}
ion-thumbnail{
  margin-inline-end: 10px;
}
hr{
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
}



.cuadro-azul{
  display: flex;
  margin: 10px 20px;
  padding: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  border-radius: 1px solid #DAE2E7;
}

.label0{
  width: 100%;
  text-align: right;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.portada{
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}
.fotos{
  background-size: cover;
  background-position: center;
  width: 320px;
  height: 180px;
}
.fav1{
  position: absolute;
  top: 12px;
  right: 13px;
  z-index: 1;
  width: 25px;
  height: 25px;
}
.label1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px;
}
.nuevo-label{
  display: flex;
  flex-direction: column;
  margin: 1px 0px;
}

.title-menu{
  font-family: ('Inter-Bold');
  color: #666666;
  display: flex;
  font-size: 15px;
  margin: 0px;
}
.sub-title{
  color: var(--neutral-300, #7E8389);
  text-align: left;
  font-family: Inter-Medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.imagen{
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.label2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0px;
  border-bottom: 1px solid #DAEEFF;
  padding-bottom: 6px;
  padding: 0px 16px;
}
p{
  margin-bottom: 0px;
}
.label22{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  margin: 0px;
  line-height: normal;
}
.color-yellow{
  font-family: Inter-Medium;
  color: #666666 !important;
  font-weight: bold;
  font-size: 12px; 
  padding: 4px 0px;
  max-width: 95px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
}
.green{
background-color: green;
height: 7px;
width: 7px;
border-radius: 50%;
}
.fav{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.new-address{
  overflow: hidden;
  color: #666666 !important;
  text-overflow: ellipsis;
  font-family: Inter-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.021px;
}
.label3{
  
  padding: 20px 16px;
}


.day-active{
	background-color: #fd692a;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	padding: 8px 5px;
  font-size: 14px;
  max-width: 85px;
  z-index: 99999;
  flex: 1;
  border: 1px solid var(--secondary-violet-medium, #D6BBFB);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.day-desactive{
	background-color: #777777;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	padding: 8px 5px;
  font-size: 14px;
  max-width: 85px;
  z-index: 99999;
  flex: 1;
  border: 1px solid var(--secondary-violet-medium, #D6BBFB);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.day-inactive{
	background-color: #fff !important;
  color: #ccc !important;
  max-width: 26%;
  z-index: 99999;
  pointer-events: visible !important;
  flex: 1;
  border: 1px solid var(--secondary-violet-medium, #D6BBFB);
}

.item-days{
	--inner-padding-end: 0px;
    --padding-start:0px;
    padding: 0px 15px; 
}
.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.15));  
    position: absolute;
    z-index: 9999;
  }
  .hiddenDes{
    height: 80px;
    overflow: hidden;
    position: relative;
  }
  .text-g{
    color: #4d4d4d;
    margin: 0px 12px;
    font-size: 13px;
  }
  ion-datetime{
    padding: 10px;
    font-size: 12px !important;
  }
  .content-fhour{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
    justify-content: center;
  }
  .align-hour{
    flex: 1; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .area-info{
    border: 1px solid #DAE2E7 !important;
    padding: 0px 10px 0px 10px !important;
    height: 44px;
    border-radius: 5px;
      color: #141518;
    background-color: #fff;
    font-family: "Muli-SemiBold";
    --padding-start: 10px;
    font-size: 15px;
    margin-top: 0px;
    position: relative;
    max-width: 55px;
    border: 0;
     margin-bottom: 8px;
     min-width: 68px;
  }
  .ddd{
    padding: 0 !important;
  }

  .pimagen{
    margin: 20px 20px 0px 20px;
    height: 200px;
  }
  .pportada{
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }
  .pfav{
    position: absolute;
    top: 40px;
    right: 45px;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
  }
  .ptitle{
    margin: 10px 20px 0px 20px;
    line-height: 2;
  }
  .psub-title{
    color: var(--neutral-300, #7E8389);
    text-align: left;
    font-family: Inter-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .ptitle-menu{
    font-family: Gilroy-Semibold;
    font-size: 22px;
    color: black;
  }
  .pdireccion{
    border-top: 1px solid #DAE2E7;
    border-bottom: 1px solid #DAE2E7;
    margin: 20px 20px;
    display: flex;
    width: 100%;
    padding: 20px 0px;
  }
  .pdireccion1{
    width: 5%;
    
  }
  .pdireccion2{
    width: 65%;
  }
  .pdireccion3{
    width: 30%;
  }
.pdescrip{
  margin: 20px 20px;
}
.pdescripcion{
  font-family: Gilroy-SemiBold;
  font-size: 19px;
  color: #000;
  margin-bottom: 20px;
}
.pbotones{
  margin: 0px 20px;
}
.plista{
  border-bottom: 1px solid #DAE2E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.pboton{
  font-size: Inter-Medium;
  font-size: 18px;
  margin-left: 20px;
  color: black;
}
.pimg{
  position: relative;
    top: 3px;
}
.pitem{
  display: flex; justify-content: start; padding-left: 20px;
}