<ion-header>
  <ion-toolbar color="secondary" mode="md">
  	<ion-buttons slot="start" class="icon-back" default-href="tabs">
	   <ion-back-button default-href="/providers" text="" icon="chevron-back-sharp" mode="md" >
        </ion-back-button>
	</ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">
      {{ 'DETAILSUPPLIERS.title' | translate }}
    </ion-title>
	<ion-buttons slot="end" (click)="shared()">
		<ion-button>
			<ion-icon name="share-social-outline" style="font-size: 25px;"></ion-icon>
		</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

		
	<!--div class="content-profile" [ngStyle]="{'background': 'linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(' + imagen + ') center center / cover no-repeat'}">
		<ion-icon md="md-heart" ios="md-heart" class="icon-star1" [class.filled1]="(select == true)" (click)="addFavorite()" *ngIf="usuario.id != ''"></ion-icon>
		<img src="{{imagen}}" >
		<div class="content-info">
			<p class="title" style="color: white !important;" *ngIf="data">{{data.establecimiento.nombre}}</p>
			<p class="title" style="color: white !important;" *ngIf="data">{{data.nombre}}</p>
			<!--ion-icon slot="icon-only" md="ios-star" ios="ios-star" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" class="icon-star" [class.filled]="(i + 1 <= promedio_calificacion)"></ion-icon>
			<ion-rating-stars
				[rating]="promedio_calificacion"
				[color]="'darkgrey'"
				[filledColor]="'orange'"
				[margin]="2"
				[size]="20"
				[disabled]="true"
				[opacity]="0.9">
			</ion-rating-stars>
		</div>
	</div-->

	
	<div class="pimagen">
		<ion-icon *ngIf="!this.select" name="heart-outline" class="pfav" style="color: black;" (click)="addFavorite()"></ion-icon>
		<ion-icon *ngIf="this.select" name="heart" class="pfav" style="color: black;" (click)="addFavorite()"></ion-icon>
		<img class="pportada" src="{{imagen}}" (click)="openPreview(imagen)">
	</div>
	<div class="ptitle">
		<div style="display: flex; flex-direction: row; justify-content: space-between;">
			<p class="ptitle-menu" *ngIf="data">{{data.nombre}}</p>
			<img src="../../assets/service24/icon_trespuntos.svg" alt="">
		</div>
        <p class="psub-title" *ngIf="data">{{data.establecimiento.nombre}}</p>
		<div style="display: flex;flex-direction: row; justify-content: start;margin-right: 5px;"><p style="color: #FD682A;font-size: 14px;">{{promedio}}</p><img src="../../assets/service24/star.svg" alt="" style="width: 20px; height: 20px;position: relative;top: 3px;"></div>
	</div>

	<div class="pdireccion">
		<div class="pdireccion1">
			<img src="../../assets/service24/icon_pos.svg" alt="" style="height: 18px;">
		</div>
		<div class="pdireccion2" *ngIf="data">
			{{data.establecimiento.direccion}}
		</div>
		<div class="pdireccion3">
			<img src="../../assets/service24/mapadetail.svg" alt="">
		</div>
	</div>

	<div class="pdescrip" *ngIf="data">
		<p class="pdescripcion">{{ 'DETAILSUPPLIERS.description' | translate }}</p>
		<p  *ngIf="data"> {{data.descripcion}}</p>

			<p [hidden]="data.establecimiento.usuario.repartidor.registro.tipo == 2"><span>{{ 'DETAILSUPPLIERS.Training' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.formacion}}</p>
			<p><span>{{ 'DETAILSUPPLIERS.years' | translate }}</span> {{data.anos_experiencia}} {{ 'DETAILSUPPLIERS.year' | translate }}</p>
			<p><span>{{ 'DETAILSUPPLIERS.suitability' | translate }}</span> {{data.idoneidad}}</p>
			<!--p><span>Disponibilidad:</span> Lunes a Sábado 9:00 a 7:00 PM</p-->
			<p><span>{{ 'DETAILSUPPLIERS.language' | translate }}</span> {{idiomas}}</p>
			<!--p><span>Zonas que atiende:</span> Allbrook, Bella Vista</p-->
			<p><span>{{ 'DETAILSUPPLIERS.emergencies' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.urgencias}}</p>
			<p><span>{{ 'DETAILSUPPLIERS.invoices' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.factura}}</p>
			
	</div>

	<div class="pbotones">
		<div class="plista">
			<div class="pitem">
				<img class="pimg" src="../../assets/service24/icon_servicios.svg" alt="" style="height: 18px;">
				<p class="pboton">Servicios</p>
			</div>
			<img src="../../assets/service24/icon_flechader.svg" alt="" style="height: 28px;">
		</div>
		<div class="plista">
			<div class="pitem">
				<img class="pimg" src="../../assets/service24/icon_disponibilidad.svg" alt="" style="height: 18px;">
				<p class="pboton">{{ 'DETAILSUPPLIERS.history' | translate }}</p>
			</div>
			<img src="../../assets/service24/icon_flechader.svg" alt="" style="height: 28px;">
		</div>
		<div class="plista">
			<div class="pitem">
				<img class="pimg" src="../../assets/service24/icon_pos2.svg" alt="" style="height: 18px;">
				<p class="pboton">Ubicación</p>
			</div>
			<img src="../../assets/service24/icon_flechader.svg" alt="" style="height: 28px;">
		</div>
		<div class="plista">
			<div class="pitem">
				<img class="pimg" src="../../assets/service24/icon_estrella.svg" alt="" style="height: 18px;">
				<p class="pboton">{{ 'DETAILSUPPLIERS.ratings' | translate }}</p>
			</div>
			<img src="../../assets/service24/icon_flechader.svg" alt="" style="height: 28px;">
		</div>
		<div class="plista">
			<div class="pitem">
				<img class="pimg" src="../../assets/service24/icon_imagen.svg" alt="" style="height: 18px;">
				<p class="pboton">{{ 'DETAILSUPPLIERS.photo' | translate }}</p>
			</div>
			<img src="../../assets/service24/icon_flechader.svg" alt="" style="height: 28px;">
		</div>
	</div>

	<div style="margin: 0px 20px;">
		<ion-button expand="block" class="ion-text-capitalize btn-init" style="border-radius: 6px !important; font-size: 18px;" (click)="setOrder()">{{ 'DETAILSUPPLIERS.create' | translate }}</ion-button>
		<ion-button expand="block" class=" btn-init2" style="border-radius: 6px !important; font-size: 18px;" (click)="home()">{{ 'DETAILSUPPLIERS.home' | translate }}</ion-button>
	</div>

	<div  class="cuadro-azul" *ngIf="false">
		<div class="label0" >
			<ion-icon *ngIf="!this.select" name="heart-outline" class="fav1" style="color: white;" (click)="addFavorite()"></ion-icon>
			<ion-icon *ngIf="this.select" name="heart" class="fav1" style="color: white;" (click)="addFavorite()"></ion-icon>
			<img class="portada" src="{{imagen}}" (click)="openPreview(imagen)">
			
		</div>
        <div class="label1">
          <div class="nuevo-label">
            <p class="title-menu" *ngIf="data">{{data.establecimiento.nombre}}</p>
            <p class="sub-title" *ngIf="data">{{data.nombre}}</p>
            
          </div>
          <img src="{{imagen}}" class="imagen">
        </div>
        <div class="label2">
          <p class="status-item color-yellow" > <span class="green"></span>Disponible</p>
          <div class="label22">
            <div style="display: flex;flex-direction: row; justify-content: center;margin-right: 5px;"><p style="color: #FD682A;font-size: 14px;">{{promedio}}</p><img src="../../assets/service24/star.svg" alt="" style="width: 20px; height: 20px;"></div>
            <p style="margin-top: 0px;">({{num_calificaciones}})</p>
          </div>
        </div>
        <div class="label3" *ngIf="tipo_registro!=1">
          <p class="new-address" *ngIf="data"> {{data.establecimiento.direccion}}</p>
        </div>
  	</div>
	<div style="margin: 0px 20px; width: 100%; text-align: center;" *ngIf="false">
		<ion-segment [(ngModel)]="type" value="track" >
			<ion-segment-button value="track" mode="md">
			<ion-label>{{ 'DETAILSUPPLIERS.description' | translate }}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="photo" mode="md">
			<ion-label>{{ 'DETAILSUPPLIERS.photo' | translate }}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="horario" mode="md">
				<ion-label>{{ 'DETAILSUPPLIERS.history' | translate }}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="history" mode="md">
			<ion-label>{{ 'DETAILSUPPLIERS.ratings' | translate }}</ion-label>
			</ion-segment-button>
		</ion-segment>
	</div>
	<div class="content-infoP" *ngIf="type == 'track'" [hidden]="true">
		<div *ngIf="data" style="margin: 0px 10px;">
			<!--p class="address"><ion-icon name="arrow-dropup" class="custom1-map"></ion-icon> {{data.establecimiento.direccion}}</p>
			<p>{{data.descripcion}}</p>
			<hr>
			<p class="title-service">{{ 'DETAILSUPPLIERS.services' | translate }}</p>
			<div class="info-service">
				<p *ngFor="let item of servicios">- {{item.nombre}} - {{item.subcategoria.nombre}}</p>
			</div>
			<hr style="margin-top: 15px;"-->
			<p > {{data.descripcion}}</p>
			<hr style="margin-top: 15px;">
			<p [hidden]="data.establecimiento.usuario.repartidor.registro.tipo == 2"><span>{{ 'DETAILSUPPLIERS.Training' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.formacion}}</p>
			<p><span>{{ 'DETAILSUPPLIERS.years' | translate }}</span> {{data.anos_experiencia}} {{ 'DETAILSUPPLIERS.year' | translate }}</p>
			<p><span>{{ 'DETAILSUPPLIERS.suitability' | translate }}</span> {{data.idoneidad}}</p>
			<!--p><span>Disponibilidad:</span> Lunes a Sábado 9:00 a 7:00 PM</p-->
			<p><span>{{ 'DETAILSUPPLIERS.language' | translate }}</span> {{idiomas}}</p>
			<!--p><span>Zonas que atiende:</span> Allbrook, Bella Vista</p-->
			<p><span>{{ 'DETAILSUPPLIERS.emergencies' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.urgencias}}</p>
			<p><span>{{ 'DETAILSUPPLIERS.invoices' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.factura}}</p>
			<ion-button expand="block" class="ion-text-capitalize btn-init" (click)="setOrder()">{{ 'DETAILSUPPLIERS.create' | translate }}</ion-button>
			<ion-button expand="block" class=" btn-init2" (click)="home()">{{ 'DETAILSUPPLIERS.home' | translate }}</ion-button>
			<br>
		</div>
	</div>
	<div class="content-infoP" *ngIf="type == 'photo'">
		<div *ngIf="data">
			<div *ngFor="let item of fotos" class="content-imgP">
				<img src="{{item.url}}" class="fotos" (click)="openPreview(item.url)">
				
			</div>
		</div>
	</div>
	<div class="content-infoP" *ngIf="type == 'horario'">
		<div style="margin: 5px;">
			<p class="text-slide">Disponibilidad:</p>
				<ion-item class="item-days"  style="border: 1px solid var(--secondary-violet-medium, #D6BBFB);border-top-left-radius:10px;border-top-right-radius:10px">
					<!--ion-toggle color="primary" mode="md" formControlName="lunes" (click)="changeDay('lunes')"></ion-toggle-->
					
					<button class="day-active" *ngIf="horario.lunes"  >Lunes</button>
					<button class="day-desactive" *ngIf="!horario.lunes"  >Lunes</button>
					<div style="flex: 1; text-align: center;">
						<p class="text-g" style="margin-bottom: 10px;">Horario:</p>
						<div class="content-fhour">					
							<ion-input  mode="ios" [(ngModel)]="horario.lunes_i" class="area-info ddd" (ionBlur)="setDay('lunes')"></ion-input>
							<span class="text-g"> a </span>
							<ion-input  mode="ios" [(ngModel)]="horario.lunes_f" class="area-info ddd" (ionBlur)="setDay('lunes')"></ion-input>
						</div>
					</div>
				</ion-item>
				<ion-item class="item-days" style="padding-top: 10px;    border-bottom: 1px solid var(--secondary-violet-medium, #D6BBFB);border-left: 1px solid var(--secondary-violet-medium, #D6BBFB); border-right: 1px solid var(--secondary-violet-medium, #D6BBFB);" >
	
					<button class="day-active" *ngIf="horario.martes" (click)="disabledDay('martes')">Martes</button>
					<button class="day-desactive" *ngIf="!horario.martes" (click)="availableDay('martes')">Martes</button>
					<div class="align-hour">
						<ion-input  mode="ios" [(ngModel)]="horario.martes_i" class="area-info ddd" (ionBlur)="setDay('martes')"></ion-input>
						<span class="text-g"> a </span>
						<ion-input  mode="ios" [(ngModel)]="horario.martes_f" class="area-info ddd" (ionBlur)="setDay('martes')"></ion-input>
					</div>
				</ion-item>
				<ion-item class="item-days" style=" padding-top: 10px;   border-bottom: 1px solid var(--secondary-violet-medium, #D6BBFB);border-left: 1px solid var(--secondary-violet-medium, #D6BBFB); border-right: 1px solid var(--secondary-violet-medium, #D6BBFB);">
	
					<button class="day-active" *ngIf="horario.miercoles" (click)="disabledDay('miercoles')">Miércoles</button>
					<button class="day-desactive" *ngIf="!horario.miercoles" (click)="availableDay('miercoles')">Miércoles</button>
					<div class="align-hour">
						<ion-input  mode="ios" [(ngModel)]="horario.miercoles_i" class="area-info ddd" (ionBlur)="setDay('miercoles')"></ion-input>
						<span class="text-g"> a </span>
						<ion-input  mode="ios" [(ngModel)]="horario.miercoles_f" class="area-info ddd" (ionBlur)="setDay('miercoles')"></ion-input>
					</div>
				</ion-item>
				<ion-item class="item-days" style=" padding-top: 10px;   border-bottom: 1px solid var(--secondary-violet-medium, #D6BBFB);border-left: 1px solid var(--secondary-violet-medium, #D6BBFB); border-right: 1px solid var(--secondary-violet-medium, #D6BBFB);">
					
					<button class="day-active" *ngIf="horario.jueves" (click)="disabledDay('jueves')">Jueves</button>
					<button class="day-desactive" *ngIf="!horario.jueves" (click)="availableDay('jueves')">Jueves</button>
					<div class="align-hour">
						<ion-input  mode="ios" [(ngModel)]="horario.jueves_i" class="area-info ddd" (ionBlur)="setDay('jueves')"></ion-input>
						<span class="text-g"> a </span>
						<ion-input  mode="ios" [(ngModel)]="horario.jueves_f" class="area-info ddd" (ionBlur)="setDay('jueves')"></ion-input>
					</div>
				</ion-item>
				<ion-item class="item-days" style=" padding-top: 10px;   border-bottom: 1px solid var(--secondary-violet-medium, #D6BBFB);border-left: 1px solid var(--secondary-violet-medium, #D6BBFB); border-right: 1px solid var(--secondary-violet-medium, #D6BBFB);">
					
					<button class="day-active" *ngIf="horario.viernes" (click)="disabledDay('viernes')">Viernes</button>
					<button class="day-desactive" *ngIf="!horario.viernes" (click)="availableDay('viernes')">Viernes</button>
					<div class="align-hour">
						<ion-input  mode="ios" [(ngModel)]="horario.viernes_i" class="area-info ddd" (ionBlur)="setDay('viernes')"></ion-input>
						<span class="text-g"> a </span>
						<ion-input  mode="ios" [(ngModel)]="horario.viernes_f" class="area-info ddd" (ionBlur)="setDay('viernes')"></ion-input>
					</div>
				</ion-item>
				<ion-item class="item-days" style="padding-top: 10px;border-left: 1px solid var(--secondary-violet-medium, #D6BBFB); border-right: 1px solid var(--secondary-violet-medium, #D6BBFB);">
				
					<button class="day-active" *ngIf="horario.sabado" (click)="disabledDay('sabado')">Sábado</button>
					<button class="day-desactive" *ngIf="!horario.sabado" (click)="availableDay('sabado')">Sábado</button>
					<div class="align-hour">
						<ion-input  mode="ios" [(ngModel)]="horario.sabado_i" class="area-info ddd" (ionBlur)="setDay('sabado')"></ion-input>
						<span class="text-g"> a </span>
						<ion-input  mode="ios" [(ngModel)]="horario.sabado_f" class="area-info ddd" (ionBlur)="setDay('sabado')"></ion-input>
					</div>
				</ion-item>
				<ion-item class="item-days" style="padding-top: 10px;border: 1px solid var(--secondary-violet-medium, #D6BBFB);border-bottom-left-radius:10px;border-bottom-right-radius:10px">
					
					<button class="day-active" *ngIf="horario.domingo" (click)="disabledDay('domingo')">Domingo</button>
					<button class="day-desactive" *ngIf="!horario.domingo" (click)="availableDay('domingo')">Domingo</button>
					<div class="align-hour">
						<ion-input  mode="ios" [(ngModel)]="horario.domingo_i" class="area-info ddd" (ionBlur)="setDay('domingo')"></ion-input>
						<span class="text-g"> a </span>
						<ion-input  mode="ios" [(ngModel)]="horario.domingo_f" class="area-info ddd" (ionBlur)="setDay('domingo')"></ion-input>
					</div>
				</ion-item>	
	
				
			</div>
	</div>
	<div class="content-infoP" *ngIf="type == 'history'">
		<div *ngIf="calificaciones">
			<div class="conten-item" *ngFor="let item of calificaciones;let even = even"  [style.background]="even? '#FFFFFF' : '#F2F2F2'">
				<ion-item lines="none" no-padding>
					<ion-thumbnail slot="start">
						<img src="{{item.usuario.imagen}}">
					</ion-thumbnail>
				    <ion-label class="label-item">
				      <!--ion-icon slot="icon-only" md="ios-star" ios="ios-star" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" class="icon-star2" [ngClass]="{'filled': i < item.puntaje}"></ion-icon-->
					  	<ion-rating-stars
							public Calification = {
							[rating]="item.puntaje"
							[color]="'darkgrey'"
							[filledColor]="'orange'"
							[margin]="2"
							[size]="20"
							[disabled]="true"
							[opacity]="0.5">
						</ion-rating-stars>
					  <p class="product-item">{{item.producto.nombre}}</p>
				      <p class="comment-item">{{item.usuario.nombre}} - <i>{{item.comentario}}</i></p>
				    </ion-label>
				    <p slot="end" class="date-item">{{item.created_at | relativeTime}}</p>
				</ion-item>
			</div>
			<p *ngIf="calificaciones.length == 0" class="text-empty">{{ 'DETAILSUPPLIERS.empty' | translate }}</p>
		</div>
		<div *ngIf="!calificaciones">
			<div class="conten-item">
				<ion-item lines="none">
					<ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
		</div>
	</div>
</ion-content>
