<ion-header>
  <ion-toolbar color="secondary" mode="md">
  	<ion-buttons slot="start" class="icon-back" default-href="tabs">
	   <ion-back-button text="" icon="chevron-back-sharp" mode="md">
        </ion-back-button>
	</ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">
      {{ 'DETAILSUPPLIERS.title' | translate }}
    </ion-title>
    <ion-buttons slot="end" (click)="viewNotification()">
      <ion-button>
      	<div class="icon-bagde" *ngIf="show_notify"></div>
        <ion-icon name="notifications" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="content-profile" [ngStyle]="{'background': 'linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(' + imagen + ') center center / cover no-repeat'}">
		<ion-icon md="md-heart" ios="md-heart" class="icon-star1" [class.filled1]="(select == true)" (click)="addFavorite()" *ngIf="usuario.id != ''"></ion-icon>
		<img src="{{imagen}}">
		<div class="content-info">
			<p class="title" *ngIf="data">{{data.establecimiento.nombre}}</p>
			<p class="title" *ngIf="data">{{data.nombre}}</p>
			<ion-icon slot="icon-only" md="ios-star" ios="ios-star" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" class="icon-star" [class.filled]="(i + 1 <= promedio_calificacion)"></ion-icon>
		</div>
	</div>
	<ion-segment [(ngModel)]="type" value="track" color="light">
	    <ion-segment-button value="track" mode="md">
	      <ion-label>{{ 'DETAILSUPPLIERS.description' | translate }}</ion-label>
	    </ion-segment-button>
	    <ion-segment-button value="photo" mode="md">
	      <ion-label>{{ 'DETAILSUPPLIERS.photo' | translate }}</ion-label>
	    </ion-segment-button>
	    <ion-segment-button value="history" mode="md">
	      <ion-label>{{ 'DETAILSUPPLIERS.ratings' | translate }}</ion-label>
	    </ion-segment-button>
	</ion-segment>
	<div class="content-infoP" *ngIf="type == 'track'">
		<div *ngIf="data">
			<p class="address"><ion-icon name="arrow-dropup" class="custom1-map"></ion-icon> {{data.establecimiento.direccion}}</p>
			<p>{{data.descripcion}}</p>
			<hr>
			<p class="title-service">{{ 'DETAILSUPPLIERS.services' | translate }}</p>
			<div class="info-service">
				<p *ngFor="let item of servicios">- {{item.nombre}} - {{item.subcategoria.nombre}}</p>
			</div>
			<hr style="margin-top: 15px;">
			<p [hidden]="data.establecimiento.usuario.repartidor.registro.tipo == 2"><span>{{ 'DETAILSUPPLIERS.Training' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.formacion}}</p>
			<p><span>{{ 'DETAILSUPPLIERS.years' | translate }}</span> {{data.anos_experiencia}} {{ 'DETAILSUPPLIERS.year' | translate }}</p>
			<p><span>{{ 'DETAILSUPPLIERS.suitability' | translate }}</span> {{data.idoneidad}}</p>
			<!--p><span>Disponibilidad:</span> Lunes a Sábado 9:00 a 7:00 PM</p-->
			<p><span>{{ 'DETAILSUPPLIERS.language' | translate }}</span> {{idiomas}}</p>
			<!--p><span>Zonas que atiende:</span> Allbrook, Bella Vista</p-->
			<p><span>{{ 'DETAILSUPPLIERS.emergencies' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.urgencias}}</p>
			<p><span>{{ 'DETAILSUPPLIERS.invoices' | translate }}</span> {{data.establecimiento.usuario.repartidor.registro.factura}}</p>
			<ion-button expand="block" class="ion-text-capitalize btn-init" (click)="setOrder()">{{ 'DETAILSUPPLIERS.create' | translate }}</ion-button>
		</div>
	</div>
	<div class="content-infoP" *ngIf="type == 'photo'">
		<div *ngIf="data">
			<div *ngFor="let item of fotos" class="content-imgP">
				<img src="{{item.url}}">
			</div>
		</div>
	</div>
	<div class="content-infoP" *ngIf="type == 'history'">
		<div *ngIf="calificaciones">
			<div class="conten-item" *ngFor="let item of calificaciones;let even = even"  [style.background]="even? '#FFFFFF' : '#F2F2F2'">
				<ion-item lines="none" no-padding>
					<ion-thumbnail slot="start">
						<img src="{{item.imagen}}">
					</ion-thumbnail>
				    <ion-label class="label-item">
				      <ion-icon slot="icon-only" md="ios-star" ios="ios-star" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" class="icon-star2" [ngClass]="{'filled': i < item.puntaje}"></ion-icon>
				      <p class="product-item">{{item.producto.nombre}}</p>
				      <p class="comment-item">{{item.usuario.nombre}} - <i>{{item.comentario}}</i></p>
				    </ion-label>
				    <p slot="end" class="date-item">{{item.created_at | relativeTime}}</p>
				</ion-item>
			</div>
			<p *ngIf="calificaciones.length == 0" class="text-empty">{{ 'DETAILSUPPLIERS.empty' | translate }}</p>
		</div>
		<div *ngIf="!calificaciones">
			<div class="conten-item">
				<ion-item lines="none">
					<ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item">
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <ion-skeleton-text animated style="width: 70px;"></ion-skeleton-text>
				      <p class="user-item"><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
				      <p class="comment-item"><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="date-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
		</div>
	</div>
</ion-content>
