.icon-notify{
    margin-right: 12px;
    ion-button{
        font-size: 13px;
    }
}
.sc-ion-back-button-md{
	margin-right: 0px;
    width: 44px;
}
.sc-ion-back-button-md{
	padding: 0px;
    margin: 0px;
}
.content-profile{
	text-align: center;
	padding: 25px 0px 10px 0px;
	background-size: cover;
    background-position: center;
	img{
		height: 100px;
    	width: 100px;
    	border-radius: 50%;
    	object-fit: cover;
    	border: 4px solid #fff;
    }
}
.content-info{
	.title {
		font-family: "Montserrat-Bold";
	    margin: 5px 0px 3px 0px;
	    font-size: 15px;
	    padding: 0px 16px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
}
.icon-star{
  color: #cccccc;
  font-size: 21px;
  margin: 0px 4px;
}
ion-icon.filled {     
  color: #ffeb3b;     
}
.icon-star1{
  position: absolute;
  right: 28px;
  font-size: 25px;
  color: #ccc;
  top: 25px;
}
.icon-star2{
  color: #cccccc;
  margin-right: 5px;
  font-size: 15px;
}
.product-item{
  font-family: "Montserrat-Medium";
  font-size: 14px !important;
}
.comment-item{
  color: #4D4D4D;
  font-family: 'Muli-Regular';
  font-size: 12px !important;
  white-space: normal;
}
.date-item{
  color: #4D4D4D;
  font-family: 'Muli-Regular';
  font-size: 10px !important;
  max-width: 50px;
}
.text-complete{
  color: #4D4D4D;
  padding: 20px 30px;
  text-align: center;
  font-family: "Muli-Regular";
  margin-bottom: 0px;
  span{
    color: #000;
    font-weight: bold;
  }
}
ion-segment-button {
  background: #F2F2F2;
  max-width: initial !important;
  color: #4D4D4D;
  ion-label {
    margin: 0;
    text-transform: initial;
    font-family: ('Roboto');
    letter-spacing: normal;
  }
}
.segment-button-checked{
    --indicator-color-checked: var(--ion-color-secondary) !important;
    color: #F2F2F2;
    background: #4d4d4d6e;
}
ion-segment{
	background: #f4f5f8;
}
.content-infoP{
	color: #4D4D4D;
	font-family: 'Muli-Regular';
	padding: 15px 16px;
	p{
		font-size: 15px;
		span {
			color: #4D4D4D;
      font-weight: bold;
      font-size: 16px;
		}
	}
	.address{
		font-family: "Montserrat-Medium";
	    margin: 10px 0px;
	    color: #4D4D4D;
	    font-size: 14px;
	    overflow: hidden;
	    white-space: normal;
	}
	.title-service{
    font-weight: bold;
		color: #4D4D4D;
		margin-bottom: 8px;
    font-size: 16px;
	}
	.info-service{
		p{
			margin: 0px;
		}
	}
}
.btn-init{
	--background: #007AFF;
	width: 100%;
  margin: 25px auto;
}
.content-imgP{
  height: 350px;
  padding: 25px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
ion-icon {
  &[class*="custom1-"] {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 14px;
    height: 13px;
    vertical-align: baseline;
    color: transparent !important;
  }
  &[class*="custom1-map"] {
  	background: url("/assets/icon/icono-locacion.svg") no-repeat 50% 50%;
    background-size: contain;
  }
}
.icon-star{
  color: #cccccc;
  font-size: 21px;
  margin: 0px 4px;
}
ion-icon.filled1 {     
  color: #f44336;     
}
ion-thumbnail{
  margin-inline-end: 10px;
}
hr{
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
}