.container{
    background: white;
    text-align: center;
    border-radius: 12px;
    width: 100%;
}
p{
    color: black;
    font-family: Inter-Medium;
}
h2{
    color: black;
    border-bottom: 1px solid;
    font-family: Inter-Medium;
}