<ion-header>
  <ion-toolbar class="nuevo-header" color="secondary" mode="md">
    <ion-title class="ion-text-capitalize ion-text-center">
      {{ 'LISORDER.title' | translate }}
    </ion-title>
    <ion-buttons slot="end" (click)="viewNotification()">
      <ion-button>
      	<div class="icon-bagde" *ngIf="show_notify"></div><span style="color: white; background-color: red; border-radius: 100px; position: relative; left: 10px; top: 5px; z-index: 10;" *ngIf="vistos>0">{{vistos}}</span>
        <ion-icon name="notifications-outline" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="md" >
	  <ion-segment [(ngModel)]="type" value="track">
	    <ion-segment-button value="track" mode="md">
	      <ion-label>{{ 'LISORDER.title1' | translate }}</ion-label>
	    </ion-segment-button>
	    <ion-segment-button value="history" mode="md">
	      <ion-label>{{ 'LISORDER.title2' | translate }}</ion-label>
	    </ion-segment-button>
	  </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	  <ion-refresher-content
	    pullingIcon="ios-arrow-down"
	    pullingText="{{ 'LISORDER.swipe' | translate }}"
	    refreshingSpinner="dots"
	    class="refresh-content">
	  </ion-refresher-content> 
	</ion-refresher>

	
	<ion-list *ngIf="type === 'track'">
		<div *ngIf="orders">
			<!--div class="conten-item" *ngFor="let item of orders;let even = even" (click)="viewDetails(item)" [style.background]="even? '#FFFFFF' : '#F2F2F2'">
				<div class="content-img">
					<img [src]="item.repartidor.usuario.imagen">
					<div>
						<p class="title-item">{{item.repartidor.usuario.nombre}}</p>
						<p class="subtitle-item">{{item.productos[0].nombre}}</p>
					</div>
				</div>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> {{item.direccion}}</p>
				      <p class="date-item">{{item.tiempo}} | {{item.hora}}</p>
				    </ion-label>
				    <p slot="end" class="status-item color-yellow" *ngIf="item.estado == 2" style="margin-left: 15px;text-align: center;">{{ 'LISORDER.hold' | translate }}</p>
				    <p slot="end" class="status-item color-green" *ngIf="item.estado == 3" style="margin-left: 15px;text-align: center;">{{ 'LISORDER.progress' | translate }}</p>
				</ion-item>
			</div-->
			<p *ngIf="orders.length == 0" class="text-empty">{{ 'LISORDER.empty1' | translate }}</p>
			<div class="conten-item" *ngFor="let item of orders;let even = even" (click)="viewDetails(item)" [style.background]="even? '#F5FBFF' : '#F5FBFF'" style="border: 1.5px solid var(--secundary-blue-medium, #DAEEFF) !important; border-radius: 10px; margin-top: 10px; margin-left: 20px; margin-right: 20px;">
				<div class="content-img">
					<img [src]="item.repartidor.usuario.imagen">
					<div style="display: flex; flex-direction: column; width: 100%;">
						<div style="display: flex; justify-content: space-between;align-items: center;">
							<p class="title-item">{{item.repartidor.usuario.nombre}}</p>
							<img src="/assets/service24/flecha_derecha.svg" alt="" style="width: 22px;">
						</div>
						<p class="subtitle-item">{{item.productos[0].nombre}}</p>
						<p class="status-item color-green" *ngIf="item.estado == 3"> <span class="green"></span> {{ 'LISORDER.progress' | translate }}</p>
						<p class="status-item color-yellow" *ngIf="item.estado == 2"> <span class="circle"></span>{{ 'LISORDER.hold' | translate }}</p>
					</div>
				</div>
			
				<!--ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> {{item.direccion}}</p>
				      <p class="date-item">{{item.tiempo}} | {{item.hora}}</p>
				    </ion-label>
				    <p slot="end" class="status-item color-green" style="margin-left: 15px;">En progreso</p>
				</ion-item-->
			</div>
			<!--p *ngIf="orders.length == 0" class="text-empty">No tienes servicios en curso</p-->
			<div *ngIf="orders.length == 0" style="width: 100%;height: 70vh; display: flex; justify-content: center; align-items: center;">
				<img  src="..\assets\service24\no-tienes-solicitudes.svg" alt="" style="width: 60%;">
			</div>
		</div>
		<div *ngIf="!orders">
			<div class="conten-item">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
			<div class="conten-item">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				</ion-item>
			</div>
		</div>
	</ion-list>
	<ion-list *ngIf="type === 'history'">
		<div *ngIf="history">
			<!--div class="conten-item" *ngFor="let item of history;let even = even" [style.background]="even? '#FFFFFF' : '#F2F2F2'" (click)="viewDetails(item)">
				<div class="content-img">
					<img [src]="item.repartidor.usuario.imagen">
					<div>
						<p class="title-item">{{item.repartidor.usuario.nombre}}</p>
						<p class="subtitle-item">{{item.productos[0].nombre}}</p>
					</div>
				</div>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> {{item.direccion}}</p>
				      <p class="date-item">{{item.tiempo}} | {{item.hora}}</p>
				    </ion-label>
				    <div slot="end" *ngIf="item.estado != 5">
				    	<p class="status-item color-green">{{ 'LISORDER.finalized' | translate }}</p>
				    	<div *ngIf="item.califico" class="content-start">
				    		<ion-icon slot="icon-only" md="ios-star" ios="ios-star" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" class="icon-star" [ngClass]="{'filled': i < item.puntaje}"></ion-icon>
				    	</div>
				    	<div *ngIf="!item.califico" class="content-start">
				    		<p>{{ 'LISORDER.rating' | translate }}</p>
				    	</div>
				    </div>
				    <div slot="end" *ngIf="item.estado == 5">
				    	<p class="status-item color-red">{{ 'LISORDER.cancelled' | translate }}</p>
				    </div>
				</ion-item>
			</div-->
			<div class="conten-item" *ngFor="let item of history;let even = even" [style.background]="even? '#F5FBFF' : '#F5FBFF'" style="border: 1.5px solid var(--secundary-blue-medium, #DAEEFF) !important; border-radius: 10px; margin-top: 10px; margin-left: 20px; margin-right: 20px;" (click)="viewDetails(item)">
				<div class="content-img">
					<img [src]="item.repartidor.usuario.imagen">
					<div style="display: flex; flex-direction: column; width: 100%;">
						<div style="display: flex; justify-content: space-between;align-items: center;">
						  <p class="title-item">{{item.repartidor.usuario.nombre}}</p>
						  <img src="/assets/service24/flecha_derecha.svg" alt="" style="width: 22px;">
						</div>
						  <p class="subtitle-item">{{item.productos[0].nombre}}</p>
						<div slot="end" *ngIf="item.estado != 5">
							
							<p class="status-item color-green"><span class="red"></span>  {{ 'LISORDER.finalized' | translate }}</p>
							<div *ngIf="item.califico" class="content-start">
								<ion-icon slot="icon-only" name="star" *ngFor="let current of [1, 2, 3, 4, 5]; let i = index" class="icon-star" [ngClass]="{'filled': i < item.puntaje}"></ion-icon>
							</div>
							
							<div *ngIf="!item.califico" class="content-start">
								<p>{{ 'LISORDER.rating' | translate }}</p>
							</div>
						</div>
						<div slot="end" *ngIf="item.estado == 5">
							<p class="status-item color-red"><span class="red"></span> {{ 'LISORDER.cancelled' | translate }}</p>
						</div>
					  </div>
				</div>
				<!--ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> {{item.direccion}}</p>
				      <p class="date-item">{{item.tiempo}} | {{item.hora}}</p>
				    </ion-label>
				    
				</ion-item-->
			</div>
			<p *ngIf="history.length == 0" class="text-empty">{{ 'LISORDER.empty2' | translate }}</p>
		</div>
		<div *ngIf="!history">
			<div class="conten-item">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				    <div class="start-item"><p><ion-skeleton-text animated></ion-skeleton-text></p></div>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				    <div class="start-item"><p><ion-skeleton-text animated></ion-skeleton-text></p></div>
				</ion-item>
			</div>
			<div class="conten-item">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				    <div class="start-item"><p><ion-skeleton-text animated></ion-skeleton-text></p></div>
				</ion-item>
			</div>
			<div class="conten-item" style="background-color: #f2f2f2f2;">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				    <div class="start-item"><p><ion-skeleton-text animated></ion-skeleton-text></p></div>
				</ion-item>
			</div>
			<div class="conten-item">
				<p class="title-item"><ion-skeleton-text animated></ion-skeleton-text></p>
				<ion-item lines="none">
				    <ion-label class="label-item">
				      <p class="dir-item"><ion-icon name="arrow-dropup" class="custom-map"></ion-icon> <ion-skeleton-text animated style="display: inline-block;margin-left: 5px;"></ion-skeleton-text></p>
				      <p class="date-item"><ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text> | <ion-skeleton-text animated style="width: 20%;display: inline-block;"></ion-skeleton-text></p>
				    </ion-label>
				    <p slot="end" class="status-item"><ion-skeleton-text animated style="width: 55px;"></ion-skeleton-text></p>
				    <div class="start-item"><p><ion-skeleton-text animated></ion-skeleton-text></p></div>
				</ion-item>
			</div>
		</div>
	</ion-list>
</ion-content>
