<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-title class="ion-text-capitalize ion-text-center" >
      <img src="assets/logo_blancor.png" alt="" style="width: 50%;">
    </ion-title>
    <ion-buttons slot="end" (click)="viewNotification()">
      <ion-button>
        <div class="icon-bagde" *ngIf="show_notify"></div>
        <ion-icon name="notifications" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="content-search" mode="md">
    <ion-searchbar 
    placeholder="{{ 'HOME.search' | translate }}" 
    color="light" 
    
    mode="ios"
    (ionFocus)="setSearch()"
    id="input"
    ></ion-searchbar>
    <ion-buttons slot="end" >
      <ion-button color="icons" class="btn-search" (click)="setSearch()">
        <ion-icon name="search-outline" style="color:white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="{{ 'LISORDER.swipe' | translate }}"
      refreshingSpinner="dots"
      class="refresh-content">
    </ion-refresher-content>
  </ion-refresher>
  <!--div [hidden]="!showZone" id="showZ">
    <div id="toast">
      <div id="img">
        <ion-icon name="arrow-dropup" class="custom-map"></ion-icon>
      </div>
      <div id="desc">zone</div>
    </div>
  </div-->
  <div *ngIf="items" style="height: 100%">
    <div class="category-card" *ngFor="let item of items" (click)="setCategory(item)">
      <img [src]="item.imagen" class="img-logo">
      <div class="content-title">
        <div class="title-1">
          <p  *ngIf="languages == 'es'">{{item.nombre}}  <ion-icon name="arrow-dropup" class="custom-arrow icon-arrow"></ion-icon></p>
          <p  *ngIf="languages == 'en'">{{item.ingles}}  <ion-icon name="arrow-dropup" class="custom-arrow icon-arrow"></ion-icon></p>
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
    <p *ngIf="empty" class="text-empty">{{ 'HOME.empty' | translate }}</p>
  </div> 
  <div *ngIf="!items" style="height: 100%">
    <div class="category-card">
      <ion-skeleton-text animated class="img-logo" style="height: 100%;width: 100%;    margin: 0px;"></ion-skeleton-text>
      <div class="content-title">
        <div class="title-1">
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
    <div class="category-card">
      <ion-skeleton-text animated class="img-logo" style="height: 100%;width: 100%;    margin: 0px;"></ion-skeleton-text>
      <div class="content-title">
        <div class="title-1">
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
    <div class="category-card">
      <ion-skeleton-text animated class="img-logo" style="height: 100%;width: 100%;    margin: 0px;"></ion-skeleton-text>
      <div class="content-title">
        <div class="title-1">
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
  </div> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-help" (click)="goForm()" *ngIf="band_chatSupport">
    {{ 'INIT.text1' | translate }}
  </ion-fab>
</ion-content>
