.promo-title{
    color: var(--neutral-400, #141518);
    font-family: Inter-Medium;
    font-size: 2.3vh;
    font-style: normal;
    font-weight: 800;
line-height: normal;
}
.promo-info{
    color: var(--neutral-400, #141518);
    font-family: Inter-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.promo-but{
    display: inline-flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 999px;
    border: 1px solid var(--shades-white, #FFF);
    background: var(--shades-white, #FFF);
    height: 32px;
    font-size: 11px;
}
.promo{
    height: 140px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #A3D5FF;
    margin: 10px 0px 0px 0px;
}
.promo1{
    padding: 7px;
}
.promo2{
    position: absolute;
    right: 8px;
}
.promo-img{
    position: absolute;
    top: -10px;
    height: 150px;
}
.letricas{
    color: var(--neutral-400, #141518);
    text-align: center;
    font-family: Inter-Medium;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.11px;
}
.cuadro{
    display: flex;
    width: 30%;
    height: 95px;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 0.955px solid var(--neutral-200, #DAE2E7);
    background: var(--shades-white, #FFF);
    margin-bottom: 5%;
    margin: auto;
    margin-top: 12px;
}
.porcategoria{
    color: var(--neutral-400, #141518);
    font-family: Gilroy-ExtraBold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}

.cuadrando{
    max-width: 70px;
    max-height: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}
.img_categ{
    max-width: 45px;
    max-height: 45px;
}


::placeholder::placeholder {
    font-family: Inter-Light !important;
    font-size: 14px;
}
.zona{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pzona{
    font-family: Gilroy-ExtraBold;
    color: var(--neutral-300, #7E8389);
    font-size: 17px;
    padding: 0;
    margin: 0;
}
.presentacion{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 12px 20px;
}
.hola{
    color: var(--neutral-400, #141518);
    font-family: Gilroy-ExtraBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}
.felices{
    color: var(--neutral-300, #7E8389);
    font-family: Inter-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    margin-top: 0px;
    margin-bottom: 0px;
}

.nuevo-input{
    border: 1px solid #DAE2E7 !important;
    padding: 0px 2px 0px 10px !important;
    height: 55px;
    border-radius: 11px;
  }
.category-card{
	position: relative;
    display: block;
    height: 33.33%;
    min-height: 157px;
}
.category-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content-title{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
    background: rgba(0, 0, 0, 0.45);
    p{
    	margin: 0px;
        height: 100%;
    	display: flex;
    	align-items: center;
    	font-weight: bold;
    	font-size: 16px;
    	color: #ffffff;
        font-family: ('Montserrat-Bold');
    }
}
.sc-ion-buttons-md-s .button-clear, .sc-ion-buttons-ios-h .button-clear{
    background-color: var(--ion-color-secondary);
    color: #fff;
    height: 40px;
    border-radius: 8px;
}
.btn-search{
    background-color: #FD682A !important;
    margin: 0px 0px 7px 0px;
    border-radius: 8px;
}
.icon-arrow{
	margin-left: 10px;
    font-size: 22px;
}
.icon-notify{
    margin-right: 12px;
}
.text-zone{
    background-color: rgba(0, 122, 255, 0.7);
    padding: 16px;
    text-align: center;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 30px;
    height: 1em;
  }
  &[class*="custom-arrow"] {
    mask-image: url('/assets/icon/icono-adelante.svg');
  }
  &[class*="custom-map"] {
    color: #fff !important;
    mask-image: url('/assets/icon/icono-locacion.svg');
  }
}
.btn-help{
    //position: fixed;
    background-color: rgba(0, 122, 255, 0.85);
    //bottom: 15px;
    //right: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: auto;
    background-color: rgba(0, 122, 255, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    left: 0;right:0;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;   
    background-color: #007AFF;
    color: #fff;
}
#toast #desc{ 
    color: #fff; 
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    padding-right: 22px !important;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

#showZ.desc {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}

.transparent-modal {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.container {
    height: 20vh;
    width: 100%; /* Set the width of the container */
    overflow: hidden; /* Hide the overflowing parts of the image */
}

.container img {
    width: 100%; /* Make the image fill the container's width */
    height: 100%; /* Make the image fill the container's height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px;
}



//slider
.slider-container {
    scroll-snap-type: x mandatory;
  }

  .slider {
    display: flex;
  
    width: 100%;
  
    scroll-snap-type: x mandatory;
  
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .slider img {
    flex: 0 0 100%;
    width: 100%;
   /* object-fit: cover;*/
    scroll-snap-align: center;
  }