<ion-header>
  <ion-toolbar color="secondary" mode="md">
    <ion-title class="ion-text-capitalize " >
      <img src="../../assets/service24/logo-rojo.svg" alt="" >
    </ion-title>
    
    <ion-buttons slot="end" (click)="viewNotification()" style="width: 57px">
      <ion-button style="background: #fff;border-radius: 50%;">
        <div class="icon-bagde" *ngIf="show_notify" ></div><span style="background-color: #F5FBFF; color: white; padding: 1px 3px 1px 3px; font-size: 11px; background-color: red; border-radius: 100px; position: relative; left: 36px; top: -10px; z-index: 10;" *ngIf="vistos>0">{{vistos}}</span>
        <img src="../../assets/service24/notification.svg" alt="">
        <!--ion-icon name="notifications-outline" style="font-size: 25px;"></ion-icon-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<div class="modo" [hidden]="!isLogin">
  <ion-toggle [(ngModel)]="isCliente" (ionChange)="changeRol($event)"></ion-toggle>
  <p style="margin: 0 0px 0 9px;">{{ 'HOME.modo' | translate }}</p>
</div>

<ion-content >
  
  <div class="presentacion">
    
    <h2 class="hola" style="margin-top: 15px;">{{ 'HOME.hola' | translate }} 👋 {{usuario.nombre}}!</h2>
    <!--p class="felices">Felices de poder ayudarte</p-->
      
  </div>
  <div style="margin: 0px 20px;">
    <div class="zona">
      <p class="pzona" (click)="goFilter()">{{zone.nombre}} <ion-icon name="filter-circle-outline"></ion-icon></p>
    </div>
    <ion-toolbar class=" nuevo-input" style="color: white !important;">
      <!--ion-searchbar placeholder="{{ 'HOME.search' | translate }}" color="secundary" mode="ios"(ionFocus)="setSearch()"id="input"></ion-searchbar-->
      <ion-input style="color: white !important;" type="text" placeholder="{{ 'HOME.search' | translate }}"  (ionFocus)="setSearch()"></ion-input>
      <ion-buttons slot="end" >
        <ion-button color="primary" class="btn-search" (click)="setSearch()">
          <ion-icon name="search-outline" style="color: white !important;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="{{ 'LISORDER.swipe' | translate }}"
      refreshingSpinner="dots"
      class="refresh-content">
    </ion-refresher-content>
  </ion-refresher>
  <!--div [hidden]="!showZone" id="showZ">
    <div id="toast">
      <div id="img">
        <ion-icon name="arrow-dropup" class="custom-map"></ion-icon>
      </div>
      <div id="desc">zone</div>
    </div>
  </div-->

  <div class="slider" style="   height: 20vh;">
    <img *ngIf="!isLogin" class="container" (click)="tipousuario()"  src="assets/service24/iniciarsesion.svg" />
    <img class="container"  src="assets/service24/hombrehogar.svg" />
    <img class="container"  src="assets/service24/mascota.svg"/>
    <img class="container"  *ngFor="let image of publicidad" [src]="image.productos.imagen" (click)="proveedor(image.productos.id)"/>
  </div>
    


  <!--swiper-container  style="margin: 10px 20px 0px 20px;" [loop]="true" [autoplay]="true" [config]="config">

    <swiper-slide style="padding: 10px 0px; " *ngFor="let p of publicidad; let i = index" >
      <div class="container" (click)="proveedor(p.productos.id)">
        <img class="" [src]="p.productos.imagen" alt="">
      </div>
    </swiper-slide>

    <swiper-slide style="padding: 10px 0px; ">
      <div class="row promo">
        <div class="col-8 promo1">
          <p class="promo-title">¿Necesitas ayuda con arreglos del hogar?</p>
          <p class="promo-info">Servicios de plomería</p>
          <span class="promo-but">Solicitar ahora</span>
        </div>
        <div class="col-4 promo2">
          <img class="promo-img" src="assets/service24/hombre.svg" alt="">
        </div>
      </div>
    </swiper-slide>
    
  </swiper-container-->
  
  <div class="presentacion">

    <h2 class="porcategoria">{{ 'HOME.serviciosporcategoria' | translate }}</h2>
  </div>
  <div style="margin: auto; width: 90%;">
    <div *ngIf="items" class="row" >
      <div class="col-md-4 cuadro" *ngFor="let item of items; let i = index" (click)="setCategory(item)" >
        <div class="cuadrando">
          <img class="img_categ" [src]="item.imagen" >
          <div >
            <div >
              <p class="letricas" *ngIf="languages == 'es'">{{item.nombre}}  <!--ion-icon name="arrow-dropup" class="custom-arrow icon-arrow"></ion-icon--></p>
              <p class="letricas" *ngIf="languages == 'en'">{{item.ingles}}  <!--ion-icon name="arrow-dropup" class="custom-arrow icon-arrow"></ion-icon--></p>
              <p class="letricas" *ngIf="languages == 'po'">{{item.portugues}}  <!--ion-icon name="arrow-dropup" class="custom-arrow icon-arrow"></ion-icon--></p>
            </div>
            <div class="triangle"></div>
            <div class="title-2"></div>  
        </div>
    </div>
  </div>
      
    </div>
    <p *ngIf="empty" class="text-empty">{{ 'HOME.empty' | translate }}</p>
    
  </div> 
  <div *ngIf="!items" style="height: 100%">
    <div class="category-card">
      <ion-skeleton-text animated class="img-logo" style="height: 100%;width: 100%;    margin: 0px;"></ion-skeleton-text>
      <div class="content-title">
        <div class="title-1">
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
    <div class="category-card">
      <ion-skeleton-text animated class="img-logo" style="height: 100%;width: 100%;    margin: 0px;"></ion-skeleton-text>
      <div class="content-title">
        <div class="title-1">
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
    <div class="category-card">
      <ion-skeleton-text animated class="img-logo" style="height: 100%;width: 100%;    margin: 0px;"></ion-skeleton-text>
      <div class="content-title">
        <div class="title-1">
        </div>
        <div class="triangle"></div>
        <div class="title-2"></div>  
      </div>
    </div>
  </div> 
  <!--ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-help" (click)="goForm()" *ngIf="band_chatSupport">
    {{ 'INIT.text1' | translate }}
  </ion-fab-->
  <br><br><br>
</ion-content>
