<ion-content><br><br>
	<ion-buttons class="nuevo-header" (click)="goBack()" style="margin-top: 20px; margin-left: 9px;  ">
      <ion-button >
        <ion-icon slot="icon-only"  name="arrow-back" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>
	<div class="content-img">
		<img src="../../assets/service24/logo-rojo.svg">
		<h2 style="color: black;">Ingrese el código que te fue enviado</h2>
	</div>
	<br><br>
	<form [formGroup]="registerUserForm" class="padding-space">
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.codigo}">
			<ion-input class="nuevo-input" type="text" formControlName="codigo" placeholder="Código de Verificación" (keydown.space)="$event.preventDefault();"></ion-input>
		</ion-item>
		<ion-button expand="block" color="primary" class="ion-text-capitalize btn-init btn-register" (click)="codePassword()">
		Verificar</ion-button>
		<br>
		<ion-button expand="block" color="primary" class="ion-text-capitalize btn-init btn-register" (click)="solicitar()">
		Solicitar Nuevo Código</ion-button>
	</form>
</ion-content>