ion-title {
    width: 100%;
    font-family: "Montserrat-Bold";
    font-size: 18px;
}
.hola{
  color: var(--neutral-400, #141518);
  font-family: Gilroy-ExtraBold;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
}
.naranja{
  background: #FD682A;
}
.nuevo-header{
  color:black;
  font-family: Inter-Medium;
}
.content-title{
	background-color: #051e33;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 18px;
}
.conten-item{
  background: #F5FBFF;
	padding: 15px 0px;
	.title-item{
		margin: 0px;
	    padding: 0px 16px;
	    color: #000000;
	    font-family: "Inter-Medium";
	    font-size: 15px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.status-item{
		font-family: "Inter-Light";
	    font-size: 11px;
	    color: #4D4D4D;
	    margin-top: 0px;
	}
	.start-item{
		position: absolute;
	    bottom: 5px;
	    margin: 0px;
	    right: 10px;
	}
}
.label-item{
	margin: 5px 0px 0px;
	.dir-item{
		font-family: "Montserrat-Medium";
		margin: 1px 0px;
		color: #4D4D4D;
	}
	p{
		font-family: "Muli-Regular";
		color: #000000;
	}
	.date-item{
		font-size: 14px;
		color: #1e2023;
	}
}
.item{
	--background: transparent;
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-map"] {
  	color: var(--ion-color-secondary) !important;
    mask-image: url('/assets/icon/icono-locacion.svg');
  }
}
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}
.text-empty{
	color: #4D4D4D;
    text-align: center;
    margin-top: 75px;
    font-size: 14px;
    font-family: "Muli-Regular";
}
ion-refresher{
	position: relative !important;
}
.btn-init{
	--background: #FD682A;
	width: 90%;
  margin: auto;
  margin-top: -20px;
  color: white;
}
.btn-init2{
	--background: white;
	width: 90%;
  color: black;
  border: 1px solid #DAE2E7;
  border-radius: 10px;
}
.text-complete{
	color: #000;
    padding: 25px 30px;
    text-align: center;
    margin-top: 0px;
    font-family: "Muli-Regular";
}
.content-img{
  display: flex;
  align-items: center;
  padding: 0px 16px;
  img{
    width: 34px;
    height: 34px;
    border-radius: 50em;
  }
}
.subtitle-item{
  color: #4d4d4d;
  margin: 1px 0px 0px 16px;
  font-size: 13px;
  font-weight: normal;
  font-family: "Muli-Regular";
}
.color-yellow{
 
    color: #141518 !important;
    font-weight: bold;
    padding: 4px 10px;
    max-width: 95px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 24px;
    border: 0.5px solid #14151846;
    margin-top: 5px !important;
    margin-left: 16px;
}
.circle{
  background-color: yellow;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.modo{
  display: flex;
  background-color: #FDF4EE;
  height: 58px;
  justify-content: start;
  align-items: center;
  padding: 0px 10px 0px 17px;
  color: #141518;
}

.header-border{
  border-bottom: 1px solid #DAE2E7;
  padding: 6px 6px 6px 12px;
}

.comencemos{
  text-align: center;
  height: 45vh;
  margin-top: 3vh; 
  border: 1px solid #7E8389; 
  border-radius: 8px; 
  margin: 10px 20px 10px 20px;
}
.comencemos2{
  text-align: center;
  min-height: 11vh;
  margin-top: 1vh; 
  border: 1px solid #7E8389; 
  border-radius: 8px; 
  margin: 10px 20px 10px 20px;
}

.comencemos-interno{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comencemos-p{
  color: #7E8389;
  font-size: 15px;
  font-family: 'Inter-Light';
  margin-top: 15px;
  width: 70%;
}

.comencemos-p2{
  color: #7E8389;
  font-size: 15px;
  font-family: 'Inter-Light';
  width: 100%;
  text-align: justify;
  margin-bottom: 0px;
  padding-right:4px;
}

.comencemos-p3{
  color: black;
  font-size: 16px;
  font-family: 'Inter-Medium';
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
  padding-right:4px;
  font-weight: bold;
  margin-left: 46px;
}

.comencemos3{
  text-align: center;
  min-height: 10vh;
  margin-top: 1vh; 
  border: 1px solid #7E8389; 
  border-radius: 8px; 
  margin: 10px 20px 10px 20px;
}

