.mensaje{
	background: #007AFF;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 8px;
}
.content-profile{
	text-align: center;
	padding-top: 25px;
	img{
		height: 100px;
    	width: 100px;
    	border-radius: 50%;
    	object-fit: cover;
    }
}
.content-info{
	position: relative;
	.title {
		color: #000000;
		font-family: ('Montserrat-Bold');
		margin: 10px 0px 3px 0px;
    	font-size: 15px; 
    	padding: 0px 16px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	.order{
		color: #007AFF;
		font-family: ('Montserrat-Medium');
		margin: 0px 0px 8px 0px;
    	font-size: 13px;
	}
	.address{
		font-family: "Montserrat-Medium";
	    margin: 0px 0px;
	    color: #4D4D4D;
	    font-size: 13px;
	    padding: 0px 16px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-map"] {
  	color: var(--ion-color-secondary) !important;
    mask-image: url('/assets/icon/icono-locacion.svg');
  }
}
.sc-ion-back-button-md{
	margin-right: 0px;
    width: 44px;
}
.sc-ion-back-button-md{
	padding: 0px;
    margin: 0px;
}
.content-infoP{
	color: #4D4D4D;
	font-family: 'Muli-Regular';
	padding: 15px 20px;
	p{
		font-size: 15px;
		span {
			color: #000000;
		}
	}
}
.btn-init{
	--background: #007AFF;
	width: 90%;
    margin: 0px auto 20px;
    font-family: ('Roboto');
}
.btn-init2{
	--border-color: #007AFF;
	--color: #007AFF;
	width: 90%;
    margin: 0px auto 20px;
    font-family: ('Roboto');
}
.btn-init1{
	--background: #D32F2F !important;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: ('Roboto');
}
.title-cal{
	font-family: "Montserrat-Medium";
	text-align: center;
    color: #000;
    font-size: 18px;
}
ion-icon.filled {     
  color: #ffeb3b;     
}
.icon-star{
  color: #cccccc;
  margin: 0px 5px;
  font-size: 18px;
}
.content-start {
	text-align: center;
}
.comment-cal{
	margin-top: 10px;
	text-align: center;
}
.icon-cal{
	font-size: 18px;
    margin-right: 10px;
    top: -2px;
    position: relative;
}
#map1{
	height: 230px;
	width: 100%;
	opacity: 1;
	position: relative !important;
}
.icon-callP{
	color: #ffffff;
    font-size: 20px;
    background-color: var(--ion-color-secondary) !important;
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;
    position: absolute;
    margin-top: -10px;
}