/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "swiper/css/bundle";


.modal-contents {
  --background: rgba(44,39,45,0.2);
}

ion-toolbar .sc-ion-searchbar-ios-h {
  padding: 0 10px;
}

*{
  color: black;
}
//gilroy
@font-face {
  font-family: 'gilroy-bold';
  src: url('/assets/fonts/GilroyFont/Gilroy-Bold.ttf');
};
@font-face {
  font-family: 'gilroy-extrabold';
  src: url('/assets/fonts/GilroyFont/Gilroy-ExtraBold.ttf');
};
@font-face {
  font-family: 'gilroy-light';
  src: url('/assets/fonts/GilroyFont/Gilroy-Light.ttf');
};
@font-face {
  font-family: 'gilroy-semibold';
  src: url('/assets/fonts/GilroyFont/Gilroy-SemiBold.ttf');
};

//-----
@font-face {
  font-family: 'Gilroy-Light';
  src: url('/assets/fonts/Gilroy/Gilroy-Light.otf');
};
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('/assets/fonts/Gilroy/Gilroy-ExtraBold.otf');
};
@font-face {
  font-family: 'Inter-Light';
  src: url('/assets/fonts/Inter/Inter-Light.ttf');
};
@font-face {
  font-family: 'Inter-Bold';
  src: url('/assets/fonts/Inter/Inter-Bold.ttf');
};
@font-face {
  font-family: 'Inter-Medium';
  src: url('/assets/fonts/Inter/Inter-Medium.ttf');
};
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('/assets/fonts/Inter/Inter-SemiBold.ttf');
};

.toast-scheme{
  --background: #f2f2f2;
  --color: #fff !important;
}

