<ion-header>
  <ion-toolbar class="nuevo-header" color="secondary" mode="md">
    <ion-title class="ion-text-capitalize">
      Notificaciones
    </ion-title>
    <ion-buttons slot="end" class="icon-notify" (click)="closeModal()">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-list *ngIf="notifications" class="no-border">
    <br>
    <ion-item class="no-border" *ngFor="let item of notifications" (click)="get(item)" style="margin-bottom: 18px;border-bottom: 1px solid #DAE2E7;">
      <div [ngStyle]="{ 'background-color': item.visto == 0 ? '#F9EECE' : null }" style=" width: 100%; height: 100%;margin-bottom: 5px; border-radius: 8px; padding: 10px;">
      <ion-label>
        <div style="display: flex; justify-content: space-between;">
          <span *ngIf="item.accion==2">Soporte: </span>
          <span *ngIf="item.accion==8">Pedido-{{item.obj.chat_id}}: </span>
          <span *ngIf="item.accion!=8||item.accion==2">Notificación: </span>
          <p class="text-date">{{item.fechaf}}</p>
        </div>
        
        <p class="ion-text-wrap text-msg"><!--ion-icon name="megaphone"></ion-icon-->  {{item.mensaje}}</p>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>


  <p class="text-empty" *ngIf="showEmpty">No tienes notificaciones pendientes</p>
  <ion-list *ngIf="!notifications">
    <ion-item>
      <ion-label>
        <p class="text-date"><ion-skeleton-text animated style="width: 55px;float: right;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"><ion-icon name="megaphone"></ion-icon> <ion-skeleton-text animated style="width: 90%;display: inline-block;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"> <ion-skeleton-text animated style="width: 97%;display: inline-block;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="text-date"><ion-skeleton-text animated style="width: 55px;float: right;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"><ion-icon name="megaphone"></ion-icon> <ion-skeleton-text animated style="width: 90%;display: inline-block;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"> <ion-skeleton-text animated style="width: 97%;display: inline-block;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="text-date"><ion-skeleton-text animated style="width: 55px;float: right;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"><ion-icon name="megaphone"></ion-icon> <ion-skeleton-text animated style="width: 90%;display: inline-block;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"> <ion-skeleton-text animated style="width: 97%;display: inline-block;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="text-date"><ion-skeleton-text animated style="width: 55px;float: right;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"><ion-icon name="megaphone"></ion-icon> <ion-skeleton-text animated style="width: 90%;display: inline-block;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"> <ion-skeleton-text animated style="width: 97%;display: inline-block;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="text-date"><ion-skeleton-text animated style="width: 55px;float: right;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"><ion-icon name="megaphone"></ion-icon> <ion-skeleton-text animated style="width: 90%;display: inline-block;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"> <ion-skeleton-text animated style="width: 97%;display: inline-block;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="text-date"><ion-skeleton-text animated style="width: 55px;float: right;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"><ion-icon name="megaphone"></ion-icon> <ion-skeleton-text animated style="width: 90%;display: inline-block;"></ion-skeleton-text></p>
        <p class="ion-text-wrap text-msg"> <ion-skeleton-text animated style="width: 97%;display: inline-block;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>