<ion-content>
	<ion-buttons class="icon-back" (click)="goBack()">
      <ion-button>
        <ion-icon slot="icon-only"  md="md-arrow-back" ios="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
	<div class="content-img">
		<img src="assets/logo_blanco.svg">
		<h2>{{ 'REGISTER.registry' | translate }}</h2>
	</div> 
	<form [formGroup]="registerUserForm" class="padding-space">
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.nombre}">
			<ion-input type="text" formControlName="nombre" placeholder="{{ 'REGISTER.name' | translate }}"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.email}">
			<ion-input type="email" formControlName="email" placeholder="{{ 'REGISTER.email' | translate }}" (keydown.space)="$event.preventDefault();"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.telefono}">
			<ion-input type="tel" formControlName="telefono" placeholder="{{ 'REGISTER.phone' | translate }}"></ion-input>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.password}">
			<ion-input [type]="password_type1" formControlName="password" placeholder="{{ 'REGISTER.password' | translate }}"></ion-input>
			<ion-icon slot="end" md="md-eye-off" ios="md-eye-off" class="icon-eye" *ngIf="password_type1 == 'password'" (click)="togglePasswordMode1()"></ion-icon>
			<ion-icon slot="end" md="md-eye" ios="md-eye" class="icon-eye" *ngIf="password_type1 == 'text'" (click)="togglePasswordMode1()"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.rpassword}">
			<ion-input [type]="password_type2" formControlName="rpassword" placeholder="{{ 'REGISTER.rpassword' | translate }}"></ion-input>
			<ion-icon slot="end" md="md-eye-off" ios="md-eye-off" class="icon-eye" *ngIf="password_type2 == 'password'" (click)="togglePasswordMode2()"></ion-icon>
			<ion-icon slot="end" md="md-eye" ios="md-eye" class="icon-eye" *ngIf="password_type2 == 'text'" (click)="togglePasswordMode2()"></ion-icon>
		</ion-item>
		<ion-item lines="none" class="item-input" [ngClass]="{'danger': formErrors.zona}">
			<ion-input type="text" formControlName="zona" placeholder="{{ 'REGISTER.zona' | translate }}" readonly (click)="selectZone()"></ion-input>
		</ion-item>
		<ion-button expand="block" color="secondary" class="ion-text-capitalize btn-init btn-register" (click)="register()">
		{{ 'REGISTER.register' | translate }}</ion-button>
		<p class="ion-text-center link-login" (click)="login()">{{ 'REGISTER.login' | translate }}</p>
	</form>
</ion-content>
